<%= form_for @file do |f| %>
	<table class="rounded">
		<tr>
			<td>Titel</td>
			<td><%= f.text_field :title %></td>
		</tr>
		<tr>
			<td>Beschreibung</td>
			<td><%= f.text_field :description %></td>
		</tr>
		<tr>
			<td>Datei</td>
			<td><%= f.file_field :file %></td>
		</tr>
	</table>
	<div class="submit">
		<%= cond_submit f %>
	</div>
<% end %>
