<% title "Mitgliedskonto bearbeiten" %>
<div class="hl">Mein Mitgliedskonto bearbeiten</div>
<%= render "errors", :errors => current_user.errors %>
<%= form_for current_user, :url => members_member_path do |f| %>
<table class="rounded panel">
  <tr>
    <td>Name:</td>
    <td><%= current_user.name.full %></td>
  </tr>
  <tr>
    <td>Mitgliedsnummer:</td>
    <td class="monospace"><%= current_user.number %></td>
  </tr>
  <tr>
    <td>Beitrittsdatum:</td>
    <td><%= l current_user.joined_at, format: '%-d. %B %Y' %></td>
  </tr>
  <% if current_user.membership_fee_paid_until.present? %>
    <tr>
      <td>Mitgliedsbeitrag bezahlt bis:</td>
      <td><%= l current_user.membership_fee_paid_until, format: :long %></td>
    </tr>
  <% end %>
  <tr>
    <td>e-mail-Adresse:</td>
    <td><%= f.email_field :email %></td>
  </tr>
  <tr>
    <td>
      Neues Passwort:
      <div class="small">Freilassen, wenn Sie Ihr Passwort nicht ändern möchten.</div>
    </td>
    <td><%= f.password_field :password %></td>
  </tr>
  <tr>
    <td>Neues Passwort wiederholen:</td>
    <td><%= f.password_field :password_confirmation %></td>
  </tr>
</table>
<div class="submit">
  <%= f.submit "speichern" %>
</div>
<% end %>
