<div class="box newsletter">
  <div class="top">
    Newsletter
  </div>
  <div class="con">
    <%= render "errors", :errors => (@subscriber ||= Newsletter::Subscriber.new).errors %>
    <%= local_assigns.fetch(:text, 'Melden Sie sich jetzt kostenlos zu unserem Newsletter an und erfahren Sie künftig alles Neue um unseren Verein sofort.') %>
    <%= form_with model: @subscriber, url: newsletter_subscriber_path(token: @subscriber.token), local: true do |f| %>
      <p>
        <%= f.select :gender, options_for_select({ "Frau" => 0, "Herr" => 1 }, @subscriber.gender) %>
        <%= f.text_field :last_name, placeholder: "Nachname (freiwillig)" %>
        <%= f.email_field :email, placeholder: "e-mail-Adresse", disabled: @subscriber.persisted? %>
      </p>
      <% if @subscriber.new_record? %>
        <p>
          <%= f.check_box :privacy_terms %>
          <%= f.label :privacy_terms do %>
            <%= render 'newsletter_subscribers/privacy_terms' %>
          <% end %>
        </p>
      <% end %>
      <p class="hcen">
        <%= f.submit @subscriber.new_record? ? :anmelden : :speichern %>
      </p>
    <% end %>
  </div>
</div>
