<% title "Zahlungsverwaltung" %>
<% include_css "ticketing/orders" %>

<div class="hl">Zahlungsverwaltung</div>
<% cache [@unsubmitted_charges, @submissions] do %>
  <table class="rounded entries details">
    <thead>
      <tr>
        <th colspan="4">Einzureichende Lastschriften</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <% if @unsubmitted_charges.any? %>
          <td colspan="2"><%= @unsubmitted_charges.count %> Lastschriften einzureichen.</td><td><%= number_to_currency -@unsubmitted_charges.balance_sum %></td>
          <td><%= link_to "Jetzt einreichen", ticketing_payments_submit_path, method: :post, confirm: "Möchten Sie die Lastschriften bei der Bank wirklich einreichen?" %></td>
        <% else %>
          <td colspan="4" class="empty">Keine Lastschriften einzureichen.</td>
        <% end %>
      </tr>
    </tbody>
    <thead>
      <tr>
        <th colspan="4">Vergangene Einreichungen</th>
      </tr>
    </thead>
    <tbody>
      <% @submissions.each do |submission| %>
        <tr>
          <td><%= submission.charges.count %> Lastschriften</td>
          <td><%= number_to_currency submission.charges.sum(:amount) %></td>
          <td class="date"><%= l submission.created_at, format: "%d.%m.%y, %H:%M" %></td>
          <% options = { data: { confirm: "Bitte beachten Sie, dass die Erstellung dieser Datei bereits einige Zeit zurückliegt und eventuell bereits eingereicht wurde. Möchten Sie sie trotzdem herunterladen?" } } if Time.now - submission.created_at > 1.day %>
          <td><%= link_to "Sammelauftragsdatei", ticketing_payments_submission_file_path(submission.id), options %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
<% cache [:unpaid, @orders[:unpaid]] do %>
  <%= form_tag ticketing_payments_mark_as_paid_path, method: :patch, class: [:unpaid_orders] do %>
    <% additional_columns = %i[checkbox balance] %>
    <%= render "application/ticketing/orders_table", table_title: ["Unbezahlte Bestellungen", "Überweisung"], orders: @orders[:unpaid][:transfer], web: true, cache_key: [:payments, :unpaid, :transfer], additional_columns: additional_columns, class: :transfer %>
    <%= render "application/ticketing/orders_table", table_title: "Barzahlung", orders: @orders[:unpaid][:cash], web: true, cache_key: [:payments, :unpaid, :cash], additional_columns: additional_columns, class: :cash %>
    <%= render "application/ticketing/orders_table", table_title: "Zahlung an der Abendkasse", orders: @orders[:unpaid][:box_office], web: true, cache_key: [:payments, :unpaid, :box_office], additional_columns: additional_columns, class: :box_office %>
    <% if @orders[:unpaid][:other].any? %>
      <%= render "application/ticketing/orders_table", table_title: "sonstige", orders: @orders[:unpaid][:other], cache_key: [:payments, :unpaid, :other], additional_columns: additional_columns %>
    <% end %>
    <%= render "index_submit", text: "als bezahlt markieren", confirm: "Möchten Sie diese Bestellungen wirklich als bezahlt markieren?", orders: @orders[:unpaid] %>
  <% end %>
<% end %>
<% cache [:credit, @orders[:credit]] do %>
  <%= render "application/ticketing/orders_table", table_title: "Bestellungen mit Guthaben", orders: @orders[:credit], web: true, additional_columns: %i[balance] %>
<% end %>
