<% title "Zahlungsverwaltung" %>
<% include_css "ticketing/orders" %>
<% include_js "ticketing/orders" %>
<div class="hl">Zahlungsverwaltung</div>
<% cache [:ticketing, :payments, @unsubmitted_charges, @submissions] do %>
  <table class="rounded entries details">
    <thead>
      <tr>
        <th colspan="4">Einzureichende Lastschriften</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <% if @unsubmitted_charges.any? %>
          <td colspan="2"><%= @unsubmitted_charges.count %> Lastschriften einzureichen.</td><td><%= number_to_currency -@unsubmitted_charges.sum("ticketing_billing_accounts.balance") %></td>
          <td><%= link_to "Jetzt einreichen", ticketing_payments_submit_path, method: :post, confirm: "Möchten Sie die Lastschriften bei der Bank wirklich einreichen?" %></td>
        <% else %>
          <td colspan="4" class="empty">Keine Lastschriften einzureichen.</td>
        <% end %>
      </tr>
    </tbody>
    <thead>
      <tr>
        <th colspan="4">Vergangene Einreichungen</th>
      </tr>
    </thead>
    <tbody>
      <% @submissions.each do |submission| %>
        <tr>
          <td><%= submission.charges.count %> Lastschriften</td>
          <td><%= number_to_currency submission.charges.sum(:amount) %></td>
          <td class="date"><%= l submission.created_at, format: "%d.%m.%y, %H:%M" %></td>
          <% options = { data: { confirm: "Bitte beachten Sie, dass die Erstellung dieser Datei bereits einige Zeit zurückliegt und eventuell bereits eingereicht wurde. Möchten Sie sie trotzdem herunterladen?" } } if Time.now - submission.created_at > 1.day %>
          <td><%= link_to "Sammelauftragsdatei", ticketing_payments_submission_file_path(submission.id), options %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
<% cache [:ticketing, :payments, :unapproved, @orders[:unapproved]] do %>
  <%= form_tag ticketing_payments_approve_path, method: :patch do %>
    <table class="rounded entries details">
      <thead>
        <tr>
          <th colspan="7">Ungeprüfte Lastschriften</th>
        </tr>
        <% if @orders[:unapproved].any? %>
          <tr>
            <th class="checkbox"><%= check_box_tag "orders_all" %></th>
            <th>Bestellung</th>
            <th>Kontoinhaber</th>
            <th>IBAN</th>
            <th>Betrag</th>
          </tr>
        <% end %>
      </thead>
      <tbody class="hover">
        <% @orders[:unapproved].each do |order| %>
          <% charge = order.bank_charge %>
          <tr data-path="<%= ticketing_order_path(order) %>">
            <td class="checkbox"><%= check_box_tag "orders[]", order.id %></td>
            <td class="number"><%= link_to order.number, ticketing_order_path(order) %></td>
            <td class="name"><%= charge.name %></td>
            <td><%= obfuscated_iban(charge.iban) %></td>
            <td class="amount"><%= number_to_currency -order.billing_account.balance %></td>
          </tr>
        <% end %>
        <% if @orders[:unapproved].empty? %>
          <tr>
            <td colspan="5" class="empty">Keine Lastschriften vorhanden.</td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= render "index_submit", text: "als geprüft markieren", orders: @orders[:unapproved] %>
  <% end %>
<% end %>
<% cache [:ticketing, :payments, :unpaid, :table, @orders[:unpaid]] do %>
  <%= form_tag ticketing_payments_mark_as_paid_path, method: :patch, class: [:unpaid_orders] do %>
    <%= render "application/ticketing/orders_table", table_title: ["Unbezahlte Bestellungen", "Überweisung"], orders: @orders[:unpaid][:transfer], web: true, checkbox: true, cache_key: [:payments, :unpaid, :transfer], show_balance: true, class: :transfer %>
    <%= render "application/ticketing/orders_table", table_title: "Barzahlung", orders: @orders[:unpaid][:cash], web: true, checkbox: true, cache_key: [:payments, :unpaid, :cash], show_balance: true, class: :cash %>
    <% if @orders[:unpaid][:other] %>
      <%= render "application/ticketing/orders_table", table_title: "sonstige", orders: @orders[:unpaid][:other], checkbox: true, cache_key: [:payments, :unpaid, :other], show_balance: true %>
    <% end %>
    <%= render "index_submit", text: "als bezahlt markieren", confirm: "Möchten Sie diese Bestellungen wirklich als bezahlt markieren?", orders: @orders[:unpaid] %>
  <% end %>
<% end %>
