<% title "Zahlungsverwaltung" %>
<% include_css "ticketing/orders" %>

<div class="hl">Zahlungsverwaltung</div>
  <table class="rounded entries details">
    <thead>
      <tr>
        <th colspan="4">Einzureichende Banktransaktionen</th>
      </tr>
      <tr>
        <th></th>
        <th>Lastschriften</th>
        <th>Erstattungen</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <% if @submittable_transactions.any? %>
          <td><%= @submittable_transactions.count %> Transaktionen einzureichen.</td>
          <td><%= number_to_currency(@submittable_transactions.debits.sum(:amount).abs) %></td>
          <td><%= number_to_currency(@submittable_transactions.transfers.sum(:amount).abs) %></td>
          <td><%= link_to "Jetzt einreichen", ticketing_payments_submit_transactions_path, method: :post, confirm: "Möchten Sie die Transaktionen bei der Bank wirklich einreichen?" %></td>
        <% else %>
          <td colspan="4" class="empty">Keine Transaktionen einzureichen.</td>
        <% end %>
      </tr>
    </tbody>
    <thead>
      <tr>
        <th colspan="4">Vergangene Einreichungen</th>
      </tr>
    </thead>
    <tbody>
      <% if @bank_submissions.any? %>
        <% @bank_submissions.each do |submission| %>
          <tr>
            <% options = { data: { confirm: "Bitte beachten Sie, dass die Erstellung dieser Datei bereits einige Zeit zurückliegt und eventuell bereits eingereicht wurde. Möchten Sie sie trotzdem herunterladen?" } } if submission.created_at.before?(1.day.ago) %>
            <td><%= submission.transactions.count %> Transaktionen</td>
            <td><%= number_to_currency(submission.transactions.debits.sum(:amount).abs) %></td>
            <td><%= number_to_currency(submission.transactions.transfers.sum(:amount).abs) %></td>
            <td class="date"><%= link_to(l(submission.created_at, format: '%d.%m.%y, %H:%M'), ticketing_payments_bank_submission_file_path(submission), options) %></td>
          </tr>
        <% end %>
      <% else %>
        <tr>
          <td colspan="4" class="empty">Bisher keine Einreichungen.</td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% cache [:unpaid, @orders[:unpaid]] do %>
  <%= form_tag ticketing_payments_mark_as_paid_path, method: :patch, class: [:unpaid_orders] do %>
    <% additional_columns = %i[checkbox balance] %>
    <%= render "application/ticketing/orders_table", table_title: ["Unbezahlte Bestellungen", "Überweisung"], orders: @orders[:unpaid][:transfer], web: true, cache_key: [:payments, :unpaid, :transfer], additional_columns: additional_columns, show_due_state: true, class: :transfer %>
    <%= render "application/ticketing/orders_table", table_title: "Barzahlung", orders: @orders[:unpaid][:cash], web: true, cache_key: [:payments, :unpaid, :cash], additional_columns: additional_columns, class: :cash %>
    <%= render "application/ticketing/orders_table", table_title: "Zahlung an der Abendkasse", orders: @orders[:unpaid][:box_office], web: true, cache_key: [:payments, :unpaid, :box_office], additional_columns: additional_columns, class: :box_office %>
    <% if @orders[:unpaid][:other].any? %>
      <%= render "application/ticketing/orders_table", table_title: "sonstige", orders: @orders[:unpaid][:other], cache_key: [:payments, :unpaid, :other], additional_columns: additional_columns %>
    <% end %>
    <%= render "index_submit", text: "als bezahlt markieren", confirm: "Möchten Sie diese Bestellungen wirklich als bezahlt markieren?", orders: @orders[:unpaid] %>
  <% end %>
<% end %>
<% cache [:credit, @orders[:credit]] do %>
  <%= render "application/ticketing/orders_table", table_title: "Bestellungen mit Guthaben", orders: @orders[:credit], web: true, additional_columns: %i[balance] %>
<% end %>
