<% cache_if (cache_key ||= nil).present?, [:ticketing, cache_key, orders, params[:type]] do %>
  <% orders = orders.all %>
  <table class="rounded entries details <%= local_assigns.fetch(:class, nil) %>">
    <thead>
      <% if defined? table_title %>
        <% Array(table_title).each do |title| %>
          <tr>
            <th colspan="<%= local_assigns.fetch(:checkbox, false) ? 6 : 5 %>"><%= title %></th>
          </tr>
        <% end %>
      <% end %>
      <% if orders.any? %>
        <tr>
          <% if checkbox ||= false %><th class="checkbox"><%= check_box_tag "orders_all[]" %></th><% end %>
          <th>Nummer</th>
          <th><% if web ||= false %>Name<% else %>Vorverkaufsstelle<% end %></th>
          <th>Tickets</th>
          <th><% if show_balance ||= false %>offen<% else %>Betrag<% end %></th>
          <th>Datum</th>
        </tr>
      <% end %>
    </thead>
    <tbody class="hover">
      <% orders.each do |order| %>
        <% classes = :cancelled if order.cancelled? %>
        <%= content_tag :tr, class: classes, data: { path: orders_path(:ticketing_order, order) } do %>
          <% if checkbox %><td class="checkbox"><%= check_box_tag "orders[]", order.id %></td><% end %>
          <td class="number"><%= link_to order.number, orders_path(:ticketing_order, order) %></td>
          <td class="name">
            <% if web %>
              <%= order.last_name.presence || content_tag(:em, "nicht angegeben") %>, <%= order.first_name.presence || content_tag(:em, "nicht angegeben") %>
            <% elsif order.is_a? Ticketing::Retail::Order %>
              <%= order.store.name %>
            <% end %>
          </td>
          <td class="tickets"><%= order.tickets.cancelled(false).size %></td>
          <td class="amount"><%= number_to_currency(show_balance ? -order.balance : order.total) %></td>
          <td class="date"><%= l order.created_at, format: "%d.%m.%y, %H:%M" %></td>
        <% end %>
      <% end %>
      <% if orders.empty? %>
        <tr>
          <td colspan="5" class="empty">Keine Bestellungen vorhanden.</td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
