<% cache [:ticketing, cache_key, orders] do %>
  <% orders = orders.all %>
  <table class="rounded entries details">
    <thead>
      <% if defined? table_title %>
        <tr>
          <th colspan="<%= (checkbox ||= false) ? 6 : 5 %>"><%= table_title %></th>
        </tr>
      <% end %>
      <% if orders.any? %>
        <tr>
          <% if checkbox %><th class="checkbox"><%= check_box_tag "orders_all[]" %></th><% end %>
          <th>Nummer</th>
          <th><% if web %>Name<% else %>Vorverkaufsstelle<% end %></th>
          <th>Tickets</th>
          <th>Betrag</th>
          <th>Datum</th>
        </tr>
      <% end %>
    </thead>
    <tbody class="hover">
      <% orders.each do |order| %>
        <% classes = :cancelled if order.cancelled? %>
        <%= content_tag :tr, class: classes, data: { path: orders_path(:ticketing_order, order) } do %>
          <% if checkbox %><td class="checkbox"><%= check_box_tag "orders[]", order.id %></td><% end %>
          <td class="number"><%= link_to order.number, orders_path(:ticketing_order, order) %></td>
          <td class="name">
            <% if web %>
              <%= order.last_name.presence || content_tag(:em, "nicht angegeben") %>, <%= order.first_name.presence || content_tag(:em, "nicht angegeben") %>
            <% else %>
              <%= order.store.name %>
            <% end %>
          </td>
          <td class="tickets"><%= order.tickets.cancelled(false).size %></td>
          <td class="amount"><%= number_to_currency order.total %></td>
          <td class="date"><%= l order.created_at, format: "%d.%m.%y, %H:%M" %></td>
        <% end %>
      <% end %>
      <% if orders.empty? %>
        <tr>
          <td colspan="5" class="empty">Keine Bestellungen vorhanden.</td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>