<% title "Login" %>
<div class="hl">Login</div>
<%= form_tag login_path do %>
Sollten Sie Mitglied unseres Vereins oder Betreiber einer Vorverkaufsstelle sein, haben Sie hier die Möglichkeit, sich einzuloggen.
<table class="rounded panel">
  <tr>
    <td>E-Mail-Adresse:</td>
    <td><%= email_field_tag :email, params[:email], autofocus: 'autofocus' %></td>
  </tr>
  <tr>
    <td>
      Passwort:
      <br /><%= link_to "vergessen?", forgot_password_members_member_path %>
    </td>
    <td><%= password_field_tag :password %></td>
  </tr>
  <tr>
    <td></td>
    <td><%= label_tag do %><%= check_box_tag :remember %> eingeloggt bleiben<% end %></td>
  </tr>
</table>
<div class="submit">
  <%= submit_tag "login" %>
</div>
<% end %>
