<% title = "Mitglieder-Login" %>
<div class="box">
	<div class="top">
		Mitglieder-Login
	</div>
	<div class="con">
		<div id="errors"><%= flash.alert %></div>
		<%= form_tag login_path do %>
		<table>
			<tr class="name">
				<td>e-mail-Adresse:</td>
				<td><%= text_field_tag :email, params[:email] %></td>
			</tr>
			<tr>
				<td>Passwort:</td>
				<td><%= password_field_tag :password %></td>
			</tr>
		</table>
		<div class="submit">
			<%= submit_tag "login" %>
		</div>
		<% end %>
	</div>
</div>
