<div class="stepCon address">
  <%= form_for :address do |f| %>
    <table class="inner form rounded">
      <thead>
        <tr>
          <th colspan="2">Ihre Angaben</th>
        </tr>
      </thead>
      <tbody>
        <%= render layout: "field", locals: { name: "Anrede" } do %>
          <%= f.select(:gender, options_for_select([[" ", -1], ["Frau", 0], ["Herr", 1]])) %>
        <% end %>
        <%= render layout: "field", locals: { name: "Vorname" } do %>
          <%= prepopulated_text_field(f, :first_name) %>
        <% end %>
        <%= render layout: "field", locals: { name: "Nachname" } do %>
          <%= prepopulated_text_field(f, :last_name) %>
        <% end %>
        <%= render layout: "field", locals: { name: "Firma / Gruppe / Zugehörigkeit" } do %>
          <%= f.text_field :affiliation, class: "field" %>
        <% end %>
        <%= render layout: "field", locals: { name: "PLZ" } do %>
          <%= f.text_field :plz, class: "field", maxlength: 5 %>
        <% end %>
        <%= render layout: "field", locals: { name: "Telefon" } do %>
          <%= f.text_field :phone, class: "field" %>
        <% end %>
        <%= render layout: "field", locals: { name: "e-mail-Adresse" } do %>
          <%= prepopulated_text_field(f, :email, :email, true) %>
        <% end %>
        <%= render layout: "field", locals: { name: "e-mail-Adresse Bestätigung" } do %>
          <%= prepopulated_text_field(f, :email_confirmation, :email, true) %>
          <div class="small">Noch einmal zur Sicherheit, um Tippfehler auszuschließen.</div>
        <% end if action_name == 'new' %>
      </tbody>
    </table>
  <% end %>
</div>
