<div class="tickets inner">
	<table class="tickets rounded">
    <thead>
      <tr>
        <th colspan="3">Tickets für <span class="date"></span></th>
      </tr>
    </thead>
    <tbody>
  		<%= content_tag_for(:tr, @ticket_types, :confirm) do |type| %>
  			<td data-id="<%= type.id %>"><%= type.name %></td>
  			<td class="single"><b class="number">0</b> je <%= number_to_currency(type.price || 0) %></td>
  			<td class="total" data-price="<%= type.price %>"><span></span> €</td>
  		<% end %>
  		<tr class="total">
  			<td>Gesamt inkl. Abzüge durch Gutscheine</td>
        <td class="single plural_text"><span class="number"><span></span></span> Ticket<span class="plural">s</span></td>
  			<td class="total"><span></span> €</td>
  		</tr>
      <tr class="coupon">
        <td colspan="3" class="plural_text">Es wurde<span class="plural">n</span> <b class="number"><span></span></b> Gutschein<span class="plural">e</span> zu dieser Bestellung hinzugefügt.</td>
      </tr>
    </tbody>
	</table>
</div>