<div class="stepCon date">
  <div class="inner">
  	<table class="rounded date">
      <thead>
        <tr>
          <th>Ihre gewünschte Aufführung</th>
        </tr>
      </thead>
      <tbody>
    		<% @dates.each do |date| %>
          <tr>
    			  <%= content_tag_for(:td, date, :data => { :id => date.id }) { l date.date, format: "%A, den %d. %B um %H.%M Uhr" } %>
          </tr>
    		<% end %>
      </tbody>
    </table>
  </div>
	<div class="number inner">
  	<%= content_tag :table, data: { "redeem-url" => redeem_coupon_ticketing_order_path }, class: [:rounded, :coupon] do %>
      <tr>
        <td>Gutscheincode einlösen:</td>
        <td>
          <%= text_field_tag :code, "", class: "noKeyCatch" %> <%= submit_tag "ok" %>
          <div class="msg">
            <div class="result"></div>
            <div class="ticketTypeNote">
              Bitte achten Sie darauf, Ihre gewünschte Ticketanzahl in den nun freigeschalteten Ticketkategorien (gelb markiert) anzugeben.
            </div>
          </div>
        </td>
      </tr>
    <% end %>
		<table class="rounded">
      <thead>
        <tr>
          <th colspan="4">Anzahl an Tickets</th>
        </tr>
      </thead>
      <tbody>
        <% [false, true].each do |exclusive| %>
    			<% @ticket_types.exclusive(exclusive).each do |type| %>
    				<%= content_tag_for(:tr, type, :date, :data => { :id => type.id, :price => type.price }, :class => (type.exclusive ? "exclusive" : nil)) do %>
    					<td class="number">
    						<%= select_tag(:number, options_for_select(0..15), id: nil) %>
    					</td>
    					<td class="type">
    						<%= type.name %>
    						<div class="small"><%= type.info %></div>
    					</td>
    					<td class="single">je <%= number_to_currency(type.price || 0) %></td>
    					<td class="total"><span></span> €</td>
    				<% end %>
    			<% end %>
        <% end %>
  			<tr class="total">
  				<td colspan="3" class="plural_text"><span class="number"><span></span></span> Ticket<span class="plural">s</span> insgesamt</td>
  				<td class="total"><span></span> €</td>
  			</tr>
      </tbody>
		</table>
	</div>
</div>