<% orders = orders.all %>
<table class="rounded entries">
  <thead>
    <tr>
      <th colspan="5"><%= title %></th>
    </tr>
    <% if orders.count > 0 %>
      <tr>
        <th>Nummer</th>
        <th><% if web %>Name<% else %>Vorverkaufsstelle<% end %></th>
        <th>Tickets</th>
        <th>Betrag</th>
        <th>Datum</th>
      </tr>
    <% end %>
  </thead>
  <tbody>
    <% orders.each do |order| %>
      <tr>
        <td class="number"><%= link_to order.bunch.number, ticketing_order_path(order.bunch.id) %></td>
        <td class="name">
          <% if web %>
            <%= order.last_name %>, <%= order.first_name %>
          <% else %>
            <%= order.store.name %>
          <% end %>
        </td>
        <td class="tickets"><%= order.bunch.tickets.size %></td>
        <td class="amount"><%= number_to_currency order.bunch.total %></td>
        <td class="date"><%= l order.created_at, format: "%d.%m.%y, %H:%M" %></td>
      </tr>
    <% end %>
    <% if orders.count.zero? %>
      <tr>
        <td colspan="5" class="empty">Keine Bestellungen vorhanden.</td>
      </tr>
    <% end %>
  </tbody>
</table>
