<div class="stepCon payment">
  <%= form_for :payment do |f| %>
    <table class="inner rounded">
      <thead>
        <tr>
          <th colspan="2">Zahlungsmethode</th>
        </tr>
      </thead>
      <tbody>
        <% methods.each do |method| %>
          <% method_id = "method#{method[:name].capitalize}".to_sym %>
          <tr>
            <td class="radio"><input type="radio" name="method" value="<%= method[:name] %>" id="<%= method_id %>" /></td>
            <td>
              <%= label_tag method_id do %><b><%= method[:human_name] %></b><% end %>
              <div class="small"><%= label_tag method_id, method[:desc] %></div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="charge inner">
      <table class="form rounded">
        <thead>
          <tr>
            <th colspan="2">Ihre Bankdaten</th>
          </tr>
        </thead>
        <tbody>
          <%= render layout: "field", locals: { name: "Kontoinhaber" } do %>
            <%= f.text_field :name, class: :field %>
          <% end %>
          <%= render layout: "field", locals: { name: "IBAN" } do %>
            <%= f.text_field :iban, class: :field %>
          <% end %>
          <%= render layout: "field", locals: { name: "Zahlungsempfänger" } do %>
            Freilichtbühne am schiefen Turm e. V.
            <br />Gläubiger-ID: DE21ZZZ00001271843
          <% end %>
          <tr>
            <td colspan="2">
              <div class="small note">
                Ich ermächtige den Zahlungsempfänger, Zahlungen von meinem Konto mittels Lastschrift einzuziehen. Zugleich weise ich mein Kreditinstitut an, die von dem Zahlungsempfänger auf mein Konto gezogenen Lastschriften einzulösen.
                <p>Ich kann innerhalb von acht Wochen, beginnend mit dem Belastungsdatum, die Erstattung des belasteten Betrages verlangen. Es gelten dabei die mit meinem Kreditinstitut vereinbarten Bedingungen.</p>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  <% end %>
</div>
