<div class="stepCon seats">
	<div class="note plural_text">
    Bitte wählen Sie Ihre<span class="singular">n</span> gewünschten<b class="number plural"> <span></span></b> <span class="singular">Sitzplatz</span><span class="plural">Sitzplätze</span> durch Anklicken.
  </div>
  <div class="additional">
    <% if !admin? %>
      <p>Bitte scrollen (verschieben) Sie den Sitzplan nach rechts oder links, um alle Teile des Zuschauerraumes sehen zu können.</p>
      <p>Für gehbehindertengerechte Sitzplätze wenden Sie sich bitte an unsere <%= link_to "Hotline", dates_path(anchor: "hotline"), target: "_blank" %>.</p>
    <% else %>
      <%= content_tag :p, class: ["reservationGroups"], data: { enable_url: enable_reservation_groups_ticketing_order_path } do %>
        Vorreservierungen freischalten:
        <% @reservation_groups.each do |group| %>
          <span><%= check_box_tag group.id, group.id %> <%= label_tag group.id, group.name %></span>
        <% end %>
      <% end %>
    <% end %>
  </div>
	<div class="seating">
		 <%= render "application/ticketing/seats", seats: @seats, error_box: true, numbers: true, photo: true, underlay: true, view_chooser: true, cache_key: [:new_order] %>
	</div>
  <div class="hcen">
		<div class="key">
      <div><b>Legende Sitzplätze</b></div>
      <div>
        <div><div class="ticketing_seat available"></div> frei</div>
        <div class="exclusiveSeats"><div class="ticketing_seat available exclusive"></div> exklusiv für Sie frei</div>
      </div>
      <div><div class="ticketing_seat taken"></div> bereits reserviert</div>
      <div><div class="ticketing_seat chosen"></div> ausgewählt</div>
    </div>
  </div>
</div>