<div class="stepCon seats">
	<div class="note plural_text">
    Bitte wählen Sie Ihre<span class="singular">n</span> gewünschten<b class="number plural"> <span></span></b> <span class="singular">Sitzplatz</span><span class="plural">Sitzplätze</span> durch Anklicken.
  </div>
  <div class="additional">
    <% if !admin? || @reservation_groups.empty? %>
      <p>Bitte verschieben Sie den Sitzplan durch Klicken und Ziehen nach rechts oder links, um alle Teile des Zuschauerraumes sehen zu können.</p>
      <p>Für gehbehindertengerechte Sitzplätze wenden Sie sich bitte an unsere <%= link_to "Hotline", dates_path(anchor: "hotline"), target: "_blank" %>.</p>
    <% else %>
      <%= content_tag :p, class: ["reservationGroups"], data: { enable_url: enable_reservation_groups_ticketing_order_path } do %>
        Vorreservierungen freischalten:
        <% @reservation_groups.each do |group| %>
          <span><%= check_box_tag group.id, group.id %> <%= label_tag group.id, group.name %></span>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <%= render "application/ticketing/seating", options: { class: [:stage, :big, :background, :key] }, error_box: true, view_chooser: true %>
</div>