<div class="stepCon seats" data-has-seating-plan="<%= @event.seating.plan? %>">
  <div class="note">
    Bitte wählen Sie Ihren gewünschten Veranstaltungstermin.<% if @event.seating.plan? && @dates.count > 1 %> Sie können das Datum beliebig wechseln, um sich einen Überblick über freie Sitzplätze zu verschaffen.<% end %>
  </div>
  <div class="inner">
    <table class="rounded date">
      <thead>
        <tr>
          <th>Ihr gewünschter Termin</th>
        </tr>
      </thead>
      <tbody>
        <% @dates.each do |date| %>
          <tr>
            <%= content_tag_for(:td, date, data: { id: date.id, box_office_payment: 3.days.from_now > date.date }, class: [date.cancelled? || (date.sold_out? && !current_user&.admin?) ? :disabled: nil]) do %>
              <span class="line_through"><%= l date.date, format: "%A, den %d. %B %Y um %H.%M Uhr" %></span>
              <% if date.cancelled? %>
                <span class="unavailable">Aufführung entfällt</span>
              <% elsif date.sold_out? %>
                <% if current_user&.admin? %>
                  <div class="seats_info">
                    <span><%= date.number_of_booked_seats %></span> von <%= date.number_of_seats %> Plätzen gebucht
                  </div>
                <% else %>
                  <span class="unavailable">derzeit ausverkauft</span>
                <% end %>
              <% end %>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <% if @event.seating.plan? %>
    <div class="seat_chooser">
      <div class="note plural_text number_of_tickets">
        <div class="trenner"></div>
        Bitte wählen Sie Ihre<span class="singular">n</span> gewünschten<b class="number plural"> <span></span></b> <span class="singular">Sitzplatz</span><span class="plural">Sitzplätze</span> durch Anklicken.
        <p><em>Für gehbehindertengerechte Sitzplätze rufen Sie uns gerne an: (02653) 28 27 09.</em></p>
      </div>
      <% if current_user&.admin? && @reservation_groups.any? %>
        <div class="note">
          <%= content_tag :p, class: ["reservationGroups"], data: { enable_url: enable_reservation_groups_ticketing_order_path } do %>
            Vorreservierungen freischalten:
            <% @reservation_groups.each do |group| %>
              <span><%= check_box_tag group.id, group.id %> <%= label_tag group.id, group.name %></span>
            <% end %>
          <% end %>
        </div>
      <% end %>
      <%= render "application/ticketing/seating", class: %i[chooser stage], error_box: true, key: true, event: @event %>
    </div>
  <% else %>
    <div class="no-seating">Bei diesem Stück gilt freie Platzwahl.</div>
  <% end %>
</div>
