<div class="stepCon tickets">
  <%= event_logo(@event, image_options: { class: 'event-header' }, fallback_options: { class: :hcen }) %>
  <% if action_name == 'new' %>
    <div class="note">
      <p>
        Mit unserer Online-Bestellung haben Sie die Möglichkeit, schnell und bequem von zu Hause aus Ihre Tickets <% if @event.seating.plan? %>und damit verbundene Sitzplatzreservierung <% end %>für „<%= @event.name %>“ zu buchen. Sie erhalten Ihre Tickets anschließend in digitaler Form per E-Mail.
      </p>
      <% if @event.covid19? %>
        <div class="covid19">
          <h3 class="hcen">Hinweise zu COVID-19-bedingten Hygienemaßnahmen</h3>
          <p>
            <b>Zusammensitzen können ausschließlich Besucher einer zusammengehörigen Gruppe.</b> Dazu zählen Angehörige des eigenen Hausstands und eine oder mehrere Personen eines weiteren Hausstands. Zwischen den Gruppen wird ein Abstand von 1,5 m in alle Richtungen eingehalten.
          </p>
          <p>
            <b>Jede Buchung wird von uns als eine Besuchergruppe verstanden.</b> Bitte prüfen Sie daher, ob bei jedem Mitglied Ihrer Gruppe eine Zugehörigkeit unter den genannten Kriterien gegeben ist. Sollten Sie für mehrere Gruppen buchen wollen, geben Sie bitte für jede jeweils eine Bestellung auf. Sollten Sie später weitere Personen zu einer Gruppe hinzufügen wollen, kontaktieren Sie uns bitte telefonisch.
          </p>
          <p>
            Teil der behördlichen Auflagen ist die Aufzeichnung von Namen und Kontaktdaten aller Besucher. Diese Daten werden im Laufe des Bestellprozesses erfasst und nach Ablauf der vorgeschriebenen Aufbewahrungszeit von vier Wochen nach der Aufführung vollständig wieder gelöscht.
          </p>
          <p>
            Weitere Informationen finden Sie in unseren <b><%= link_to '„häufig gestellten Fragen“', info_path(@event.slug) %></b> oder telefonisch unter <b>(02653) 28 27 09</b>.
          </p>
          <p>Vielen Dank für Ihr Verständnis.</p>
        </div>
      <% else %>
        <p>
          Weitere Informationen zu unserem Vorverkauf finden Sie in unseren <b><%= link_to '„häufig gestellten Fragen“', info_path(@event.slug) %></b> oder telefonisch unter <b>(02653) 28 27 09</b>.
        </p>
      <% end %>
      <div class="trenner"></div>
      <p>Bitte wählen Sie zunächst Ihre gewünschte Anzahl an Tickets.</p>
    </div>
  <% end %>
  <div class="number inner">
    <table class="rounded">
      <thead>
        <tr>
          <th colspan="4">Ihre gewünschten Tickets</th>
        </tr>
      </thead>
      <tbody>
        <% @ticket_types.each do |type| %>
          <% if !type.exclusive? || @type == :admin || (user_signed_in? && type.exclusive_ticket_type_credit.present?) %>
            <%= content_tag_for(:tr, type, :date, data: { id: type.id, price: type.price }) do %>
              <td class="number">
                <%= select_tag(:number, options_for_select(Keine: 0) + options_for_select(1..max_tickets_for_type(@max_tickets, type)), id: nil) %>
              </td>
              <td class="type">
                <%= type.name %>
                <div class="small"><%= type.info %></div>
                <% if type.exclusive_ticket_type_credit.present? %>
                  <div class="small">
                    <% if max_tickets_for_type(@max_tickets, type).zero? %>
                      Das Kontingent für dieses Mitgliedskonto und verknüpfte Familienmitglieder ist bereits aufgebraucht.
                    <% end %>
                  </div>
                <% end %>
              </td>
              <td class="single">je <%= number_to_currency(type.price || 0) %></td>
              <td class="total"><span></span> €</td>
            <% end %>
          <% end %>
        <% end %>
        <tr class="subtotal">
          <td colspan="3" class="plural_text"><span class="number"><span></span></span> Ticket<span class="plural">s</span> insgesamt</td>
          <td class="total"><span></span> €</td>
        </tr>
        <tr class="ignore_free_tickets">
          <td colspan="4">
            <%= check_box_tag(:ignore_free_tickets) %>
            <%= label_tag :ignore_free_tickets do %>Freikarten nicht in Anspruch nehmen<% end %>
          </td>
        </tr>
        <tr class="total">
          <td colspan="3">Gesamt</td>
          <td class="total"><span></span> €</td>
        </tr>
      </tbody>
    </table>

    <%= content_tag :table, data: { add_url: add_coupon_ticketing_order_path, remove_url: remove_coupon_ticketing_order_path }, class: [:rounded, :coupon] do %>
      <thead>
        <tr>
          <th colspan="2">Gutscheine</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Gutscheincode einlösen:</td>
          <td>
            <%= text_field_tag :code, "", class: "noKeyCatch" %> <%= submit_tag "einlösen" %>
            <div class="msg">
              <div class="result"></div>
            </div>
          </td>
        </tr>
        <tr class="added hide">
          <td>Hinzugefügte Gutscheine:</td>
          <td></td>
        </tr>
      </tbody>
    <% end %>
  </div>
</div>
