<div class="stepCon tickets">
  <%= image_tag "theater/#{@event.identifier}/ticket_header.svg", class: 'event-header' %>
  <% if web? %>
    <div class="note">
      <p>
        Mit unserer Online-Bestellung haben Sie die Möglichkeit, schnell und bequem von zu Hause aus Ihre Tickets <% if @event.seating.bound_to_seats? %>und damit verbundene Sitzplatzreservierung <% end %>für „<%= @event.name %>“ zu buchen. Sie erhalten Ihre Tickets anschließend in digitaler Form per E-Mail.
      </p>
      <p>
        Weitere Informationen zu unserem Vorverkauf finden Sie in unseren <b><%= link_to '„häufig gestellten Fragen“', info_path(@event.slug) %></b> oder telefonisch unter <b>(02653) 28 27 09</b>.
      </p>
      <div class="trenner"></div>
      <p>Bitte wählen Sie zunächst Ihre gewünschte Anzahl an Tickets.</p>
    </div>
  <% end %>
  <div class="number inner">
    <table class="rounded">
      <thead>
        <tr>
          <th colspan="4">Ihre gewünschten Tickets</th>
        </tr>
      </thead>
      <tbody>
        <% @ticket_types.each do |type| %>
          <%= content_tag_for(:tr, type, :date, data: { id: type.id, price: type.price }) do %>
            <td class="number">
              <%= select_tag(:number, options_for_select(Keine: 0) + options_for_select(1..@max_tickets), id: nil) %>
            </td>
            <td class="type">
              <%= type.name %>
              <div class="small"><%= type.info %></div>
            </td>
            <td class="single">je <%= number_to_currency(type.price || 0) %></td>
            <td class="total"><span></span> €</td>
          <% end %>
        <% end %>
        <tr class="subtotal">
          <td colspan="3" class="plural_text"><span class="number"><span></span></span> Ticket<span class="plural">s</span> insgesamt</td>
          <td class="total"><span></span> €</td>
        </tr>
        <tr class="ignore_free_tickets">
          <td colspan="4">
            <%= check_box_tag(:ignore_free_tickets) %>
            <%= label_tag :ignore_free_tickets do %>Freikarten nicht in Anspruch nehmen<% end %>
          </td>
        </tr>
        <tr class="total">
          <td colspan="3">Gesamt</td>
          <td class="total"><span></span> €</td>
        </tr>
      </tbody>
    </table>

    <%= content_tag :table, data: { add_url: add_coupon_ticketing_order_path, remove_url: remove_coupon_ticketing_order_path }, class: [:rounded, :coupon] do %>
      <thead>
        <tr>
          <th colspan="2">Gutscheine</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Gutscheincode einlösen:</td>
          <td>
            <%= text_field_tag :code, "", class: "noKeyCatch" %> <%= submit_tag "einlösen" %>
            <div class="msg">
              <div class="result"></div>
            </div>
          </td>
        </tr>
        <tr class="added hide">
          <td>Hinzugefügte Gutscheine:</td>
          <td></td>
        </tr>
      </tbody>
    <% end %>
  </div>
</div>
