<div class="stepCon tickets">
  <% if web? %>
    <div class="note">
      Mit unserer Online-Bestellung haben Sie die Möglichkeit, schnell und bequem von zu Hause aus Ihre Tickets <% if @event.seating.bound_to_seats? %>und damit verbundene Sitzplatzreservierung <% end %>für „<%= @event.name %>“ zu buchen. Sie erhalten Ihre Tickets später in digitaler Form per e-mail.
      <div class="trenner"></div>
      <p>Bitte wählen Sie zunächst Ihre gewünschte Anzahl an Tickets.</p>
    </div>
  <% else %>
    <div class="hl inner">„<%= @event.name %>“</div>
  <% end %>
	<div class="number inner">
		<table class="rounded">
      <thead>
        <tr>
          <th colspan="4">Gutscheine</th>
        </tr>
      </thead>
      <%= content_tag :tbody, data: { add_url: add_coupon_ticketing_order_path, remove_url: remove_coupon_ticketing_order_path }, class: [:rounded, :coupon] do %>
        <tr>
          <td colspan="2">Gutscheincode einlösen:</td>
          <td colspan="2">
            <%= text_field_tag :code, "", class: "noKeyCatch" %> <%= submit_tag "einlösen" %>
            <div class="msg">
              <div class="result"></div>
            </div>
          </td>
        </tr>
        <tr class="added hide">
          <td colspan="2">
            Hinzugefügte Gutscheine:
            <div class="small">Mehrere Gutscheine sind möglich.</div>
          </td>
          <td colspan="2"></td>
        </tr>
      <% end %>
      <thead>
        <tr>
          <th colspan="4">Ihre gewünschten Tickets</th>
        </tr>
      </thead>
      <tbody>
        <% [false, true].each do |exclusive| %>
          <% @ticket_types.exclusive(exclusive).each do |type| %>
            <%= content_tag_for(:tr, type, :date, data: { id: type.id, price: type.price }, class: (type.exclusive ? "exclusive" : nil)) do %>
              <td class="number">
                <%= select_tag(:number, options_for_select(Keine: 0) + options_for_select(1..@max_tickets), id: nil) %>
              </td>
              <td class="type">
                <%= type.name %>
                <div class="small"><%= type.info %></div>
              </td>
              <td class="single">je <%= number_to_currency(type.price || 0) %></td>
              <td class="total"><span></span> €</td>
            <% end %>
          <% end %>
        <% end %>
  			<tr class="total">
  				<td colspan="3" class="plural_text"><span class="number"><span></span></span> Ticket<span class="plural">s</span> insgesamt</td>
  				<td class="total"><span></span> €</td>
  			</tr>
      </tbody>
		</table>
	</div>
  <% if web? %>
    <div class="note">
      <div class="trenner"></div>
      Gibt es Schwierigkeiten bei Ihrer Bestellung? Rufen Sie uns gerne an: (02653) 28 27 09
    </div>
  <% end %>
</div>