<% content_for :finish do %>
  <div class="hl note">
    Vielen Dank für Ihre Bestellung!
  </div>
  <div class="note">
    <p class="order-number">Ihre Bestellnummer lautet <b></b>.</p>
    <p>Innerhalb der nächsten fünf Minuten erhalten Sie eine E-Mail mit <span class="tickets">Ihren Tickets und </span>allen Informationen zu Ihrer Bestellung.</p>
    <p>In den <%= link_to "FAQ", info_path(@event.slug) %> finden Sie übrigens weitere hilfreiche Informationen zu unseren Veranstaltungen.</p>
  </div>
  <div class="gmail-warning">
    <div class="trenner"></div>
    <div class="hl">Hinweis für Nutzer von Gmail</div>
    <div class="content">
      <div class="icon"><%= image_tag 'warning.svg', alt: '' %></div>
      <div class="note">
        <p>
          Leider werden unsere E-Mails von Google konsequent als Spam markiert. Sollten Sie daher keine Bestellbestätigung von uns in Ihrem Postfach vorfinden, schauen Sie bitte in Ihrem Spam-Ordner nach. Wird Ihnen kein Spam-Ordner angezeigt, geben Sie einfach <b>in:spam</b> in das Gmail-Suchfeld ein.
        </p>
        <p>Nachdem Sie unsere E-Mail gefunden haben, markieren Sie diese bitte über den entsprechenden Button als <b>„Kein Spam“</b>.</p>
        <p>Wir möchten uns für diese Unannehmlichkeiten entschuldigen.</p>
      </div>
    </div>
  </div>
  <div class="trenner"></div>
  <%= render "dates/restaurants" %>
<% end %>
<% content_for :steps do %>
  <%= render "tickets" %>
  <%= render "seats" %>
  <%= render "address" %>
  <%= render "payment", methods: [
    {
      name: :charge,
      human_name: "SEPA-Lastschrift",
      desc: "Schnell und bequem. Sie erhalten Ihre Tickets sofort nach der Bestellung."
    },
    {
      name: :transfer,
      human_name: "Vorkasse per Überweisung",
      desc: "Sie erhalten Ihre Tickets nach Zahlungseingang."
    },
    {
      name: :box_office,
      human_name: "Zahlung an der Abendkasse",
      desc: "Sie erhalten Ihre Tickets nach Zahlung in bar oder per EC-Karte an der Abendkasse."
    }
  ] %>
  <div class="stepCon confirm">
    <div class="note">Bitte kontrollieren Sie Ihre Bestellung noch einmal und bestätigen sie anschließend mit einem Klick auf den Button unten rechts.</div>
    <%= render "confirm_tickets" %>
    <div class="address inner">
      <table class="rounded form">
        <thead>
          <tr>
            <th colspan="2">Ihre Angaben</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Name:</td>
            <td><span class="first_name"></span> <span class="last_name"></span></td>
          </tr>
          <tr>
            <td>Telefonnummer:</td>
            <td class="phone"></td>
          </tr>
          <tr>
            <td>e-mail-Adresse:</td>
            <td class="email"></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="payment inner">
      <div class="transfer">
        <table class="rounded form">
          <thead>
            <tr>
              <th colspan="2">Bezahlung per Überweisung</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Unsere Kontodaten werden Ihnen nach der Bestellung per e-mail zugesandt.</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="charge">
        <table class="rounded form">
          <thead>
            <tr>
              <th colspan="2">Bezahlung per SEPA-Lastschrift</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Kontoinhaber:</td>
              <td class="name"></td>
            </tr>
            <tr>
              <td>IBAN:</td>
              <td class="iban"></td>
            </tr>
            <tr>
              <td colspan="2">
                Weitere Informationen zur Abbuchung insbesondere Ihre Mandatsreferenznummer erhalten Sie mit der Bestätigungsmail.
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="box_office">
        <table class="rounded form">
          <thead>
            <tr>
              <th colspan="2">Bezahlung an der Abendkasse</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Sie erhalten Ihre Tickets an der Abendkasse nach Zahlung in bar oder per EC-Karte.</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <%= form_for :confirm do |f| %>
      <table class="rounded checkboxes form inner">
        <tr>
          <td class="checkbox"><%= f.check_box :newsletter %></td>
          <td><%= f.label :newsletter do %><%= render 'newsletter_subscribers/privacy_terms' %><% end %></td>
        </tr>
      </table>
      <p class="note">
        Ich habe die <%= link_to 'AGB', agb_path, target: '_blank' %> des Anbieters gelesen und erkläre mit dem Absenden der Bestellung mein Einverständnis. Die <%= link_to 'Widerrufsbelehrung', widerruf_path, target: '_blank' %> inklusive Muster-Widerrufsformular habe ich zur Kenntnis genommen.
      </p>
    <% end %>
  </div>
  <%= render "finish" %>
<% end %>
<%= render "framework" %>
