<% content_for :finish do %>
  <div class="hl note">
    Vielen Dank für Ihre Bestellung!
  </div>
  <div class="note">
  	In Kürze erhalten Sie eine e-mail mit <span class="tickets">Ihren Tickets und </span>allen Informationen zu Ihrer Bestellung.
  </div>
  <div class="trenner"></div>
  <%= render "dates/restaurants" %>
<% end %>
<% content_for :steps do %>
	<%= render "tickets" %>
	<%= render "seats" %>
	<%= render "address" %>
	<%= render "payment", methods: [
    {
      name: :charge,
      human_name: "SEPA-Lastschrift",
      desc: "Schnell und bequem. Sie erhalten Ihre Tickets sofort nach der Bestellung."
    },
    {
      name: :transfer,
      human_name: "Vorkasse per Überweisung",
      desc: "Sie erhalten Ihre Tickets nach Zahlungseingang."
    }
	] %>
	<div class="stepCon confirm">
		<div class="note">Bitte kontrollieren Sie Ihre Bestellung noch einmal und bestätigen sie anschließend mit einem Klick auf den Button unten rechts.</div>
    <%= render "confirm_tickets" %>
		<div class="address inner">
      <table class="rounded form">
        <thead>
          <tr>
            <th colspan="2">Ihre Angaben</th>
          </tr>
        </thead>
        <tbody>
      		<tr>
      			<td>Name:</td>
      			<td><span class="first_name"></span> <span class="last_name"></span></td>
      		</tr>
      		<tr>
      			<td>Telefonnummer:</td>
      			<td class="phone"></td>
      		</tr>
      		<tr>
      			<td>e-mail-Adresse:</td>
      			<td class="email"></td>
      		</tr>
        </tbody>
    	</table>
    </div>
		<div class="payment inner">
			<div class="transfer">
        <table class="rounded form">
          <thead>
            <tr>
              <th colspan="2">Bezahlung per Überweisung</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Unsere Kontodaten werden Ihnen nach der Bestellung per e-mail zugesandt.</td>
            </tr>
          </tbody>
        </table>
			</div>
			<div class="charge">
				<table class="rounded form">
          <thead>
            <tr>
              <th colspan="2">Bezahlung per SEPA-Lastschrift</th>
            </tr>
          </thead>
          <tbody>
  					<tr>
  						<td>Kontoinhaber:</td>
  						<td class="name"></td>
  					</tr>
  					<tr>
  						<td>IBAN:</td>
  						<td class="iban"></td>
  					</tr>
            <tr>
              <td colspan="2">
                Weitere Informationen zur Abbuchung insbesondere Ihre Mandatsreferenznummer erhalten Sie mit der Bestätigungsmail.
              </td>
            </tr>
          </tbody>
				</table>
			</div>
		</div>
    <%= form_for :confirm do |f| %>
      <table class="rounded checkboxes form inner">
        <tr>
          <td class="checkbox"><%= f.check_box :newsletter, checked: true %></td>
          <td><%= f.label :newsletter do %>Ich möchte den kostenlosen Newsletter der Freilichtbühne am schiefen Turm erhalten, um alle Neuigkeiten rund um den Verein sofort zu erfahren.<% end %></td>
        </tr>
      </table>
    <% end %>
	</div>
	<%= render "finish" %>
<% end %>
<%= render "framework" %>
