<% content_for :finish do %>
  <div class="hl note">
    Die Bestellung wurde erfolgreich aufgenommen.
  </div>
  <table class="rounded info">
    <thead>
      <tr>
        <th colspan="2">Zusammenfassung</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Gesamtbetrag:</td>
        <td class="total"><span></span> €</td>
      </tr>
      <tr>
        <td>Tickets:</td>
        <td class="number"></td>
      </tr>
      <tr>
        <td colspan="2" class="links"><%= link_to "zu weiteren Bestelldetails", "", class: :details %> | <%= link_to "neue Bestellung aufnehmen", action: :new_privileged %></td>
      </tr>
    </tbody>
  </table>
<% end %>
<%= content_for :steps do %>
  <%= render "tickets" %>
  <%= render "seats" %>
  <div class="stepCon confirm">
    <div class="note">Bitte kontrollieren Sie die Bestellung noch einmal und klicken anschließend auf <em>bestätigen</em>.</div>
    <%= render "confirm_tickets" %>
  </div>
  <%= render "finish" %>
<% end %>
<%= render "framework" %>
<%= render "application/ticketing/print_notification" %>
