<% content_for :steps do %>
  <%= render "tickets" %>
  <%= render "seats" %>
  <%= render "address" %>
  <%= render "covid19" if @event.covid19? %>
  <%= render "payment", methods: [
    {
      name: :transfer,
      human_name: "Vorkasse per Überweisung",
      desc: "Der Kunde überweist das Geld und erhält seine Tickets an der Abendkasse oder anderweitig."
    },
    {
      name: :cash,
      human_name: "Barzahlung",
      desc: "Der Kunde bezahlt in bar."
    },
    {
      name: :box_office,
      human_name: "Zahlung an der Abendkasse",
      desc: "Der Kunde zahlt an der Abendkasse in bar oder per EC-Karte."
    }
  ] %>
  <div class="stepCon confirm">
    <%= render "confirm_tickets" %>
    <div class="address inner">
      <table class="rounded form">
        <thead>
          <tr>
            <th colspan="2">Ihre Angaben</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Name:</td>
            <td><span class="first_name"></span> <span class="last_name"></span></td>
          </tr>
          <tr>
            <td>Telefonnummer:</td>
            <td class="phone"></td>
          </tr>
          <tr>
            <td>e-mail-Adresse:</td>
            <td class="email"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
<% end %>
<%= render "framework", title: "Neue Bestellung aufnehmen" %>
