<% title "Bestellungsdetails ##{@order.number}" %>
<% include_css "ticketing/orders" %>
<% include_js "ticketing/orders" %>
<% scope = [:ticketing, :orders] %>
<div class="hl">Bestellungsdetails</div>
<% overview = [
  ["Nummer", "<b>#{@order.number}</b>"],
  ["aufgegeben", l(@order.created_at, format: "%d. %B %Y, %H:%M Uhr")],
  ["Tickets", @order.tickets.cancelled(false).count],
  ["Gesamtbetrag", number_to_currency(@order.total)],
  ["bezahlt", @order.paid ? "ja" : "nein"]
] %>
<div class="topTables">
  <table class="rounded details">
    <%= render "show_overview_table", title: "Übersicht", overview: overview %>
    <tbody>
      <tr>
        <td class="label">Gutscheine:</td>
        <td>
          <% if @order.coupons.any? %>
            <% @order.coupons.each do |coupon| %>
              <div><%= link_to_if(admin?, coupon.recipient, coupon) %></div>
            <% end %>
          <% else %>
            <em class="small">keiner</em>
          <% end %>
        </td>
      </tr>
    </tbody>
    <%
      if @order.is_a? Ticketing::Retail::Order
        title = "Buchung in Vorverkaufsstelle"
        overview = [
          ["Vorverkaufsstelle", @order.store.name]
        ]
      elsif @order.is_a? Ticketing::BoxOffice::Order
        title = "Buchung an Abendkasse"
        overview = [
          ["Abendkasse", @order.box_office.name]
        ]
      elsif @order.is_a? Ticketing::Web::Order
        title = "Online-Bestellung"
        overview = [
          ["Nachname", @order.last_name],
          ["Vorname", @order.first_name],
          ["e-mail", @order.email],
          ["Telefon", (@order.phone || "").phony_formatted],
          ["PLZ", @order.plz]
        ]
        if !@order.total.zero?
          payment = [
            ["Zahlungsart", t(@order.pay_method, scope: (scope + [:pay_methods]))]
          ]
          if @order.bank_charge
            payment.concat [
              ["Kontoinhaber", @order.bank_charge.name],
              ["IBAN", obfuscated_iban(@order.bank_charge.iban)],
              ["geprüft", @order.bank_charge.approved ? "ja" : "nein"]
            ]
          end
        end
      end
    %>
    <%= render "show_overview_table", title: title, overview: overview %>
    <%= render "show_overview_table", title: "Zahlung", overview: payment if payment %>
  </table>
  <div class="rightTables">
    <table class="rounded actions details">
      <thead>
        <tr>
          <th>Aktionen</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <% if !@order.cancelled? %>
              <% if @order.is_a? Ticketing::Web::Order %>
                <% if !@order.paid %>
                  <div><%= link_to "als bezahlt markieren", orders_path(:mark_as_paid_ticketing_order, @order), method: :patch, data: { confirm: "Möchten Sie diese Bestellung wirklich als bezahlt markieren?" } %></div>
                  <% if @order.transfer_payment? && @order.email.present? %>
                    <div><%= link_to "Zahlungserinnerung senden", orders_path(:send_pay_reminder_ticketing_order, @order), method: :post, data: { confirm: "Möchten Sie wirklich eine Zahlungserinnerung senden?" } %></div>
                  <% end %>
                <% end %>
                <% if @order.bank_charge && !@order.bank_charge.approved %>
                  <div><%= link_to "als geprüft markieren", orders_path(:approve_ticketing_order, @order), method: :patch %></div>
                <% end %>
                <% if @order.paid %>
                  <div><%= link_to "Tickets erneut zusenden", orders_path(:resend_tickets_ticketing_order, @order), method: :post, data: { confirm: "Möchten Sie die Tickets wirklich erneut zusenden?" } if @order.email.present? %></div>
                <% end %>
              <% end %>
              <% if retail? %>
                <div><%= link_to "Tickets drucken", nil, class: :"print-tickets", data: { printable_path: @order.printable_path } %></div>
              <% end %>
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<% cache_if params[:ticket].nil?, [@order, Ticketing::Ticket.all, params[:type]] do %>
  <a id="tickets"></a>
  <%= form_tag nil, method: :patch, class: :edit_tickets do %>
    <table class="rounded entries details">
      <thead>
        <tr>
          <th colspan="<%= tickets_colspan %>">In der Bestellung enthaltene Tickets</th>
        </tr>
        <tr>
          <th class="checkbox"><%= check_box_tag "tickets_all[]" %></th>
          <th>Nummer</th>
          <th>Kategorie</th>
          <th>Preis</th>
          <th>Aufführung</th>
          <th>Block</th>
          <th>Sitz</th>
          <% if @show_check_ins %>
            <th>Einlass</th>
          <% end %>
        </tr>
      </thead>
      <tbody class="hover">
        <% @order.tickets.each do |ticket| %>
          <% classes = [:cancelled] if ticket.cancelled? %>
          <% (classes ||= []) << :highlighted if params[:ticket].to_i == ticket.order_index %>
          <%= content_tag_for :tr, ticket, class: classes do %>
            <td><%= check_box_tag "ticket_ids[]", ticket.id, false, disabled: ticket.cancelled? %></td>
            <td class="number">
              <%= ticket.number %>
              <% if ticket.resale && !ticket.cancelled? %>
                <div class="small">
                  Weiterverkauf <% if ticket.resold? %>erfolgreich<% else %>möglich<% end %>
                </div>
              <% end %>
            </td>
            <td class="name"><%= ticket.type.name %></td>
            <td class="amount"><%= number_to_currency ticket.price %></td>
            <td class="date"><%= l ticket.date.date, format: "%d. %B" %></td>
            <% if ticket.seat.present? %>
              <td><%= ticket.block.name %></td>
              <td><%= ticket.seat.number %></td>
            <% else %>
              <td colspan="2">Freie Platzwahl</td>
            <% end %>
            <% if @show_check_ins %>
              <td>
                <% if (check_in = ticket.check_ins.first) %>
                  <span title="via <%= t(check_in.medium, scope: 'ticketing.orders.check_ins.media') %>">
                    <%= l check_in.date, format: '%H:%M' %>
                  </span>
                <% end %>
              </td>
            <% end %>
          <% end %>
        <% end %>
      </tbody>
      <tbody>
        <tr>
          <td colspan="<%= tickets_colspan %>" class="actions">
            <% options = [
              ["stornieren", :cancel, data: { path: orders_path(:cancel_ticketing_order_tickets, @order), method: :patch, confirm: "Möchten Sie die ausgewählten Tickets wirklich stornieren?" }],
              ["zum Weiterverkauf freigeben", :enable_resale, { data: { path: orders_path(:enable_resale_ticketing_order_tickets, @order), method: :patch, confirm: "Möchten Sie die ausgewählten Tickets wirklich zum Weiterverkauf freigeben?" } }, true],
              ["Aufführung / Sitzplatz umbuchen", :transfer, data: { path: orders_path(:transfer_ticketing_order_tickets, @order), method: :get }],
              ["Kategorie umbuchen", :transfer, data: { path: orders_path(:edit_ticketing_order_tickets, @order), method: :get }],
              ["herunterladen", :transfer, data: { path: orders_path(:printable_ticketing_order_tickets, @order), method: :get }]
            ].keep_if { |option| !option[3] || admin? } %>
            <%= select_tag :edit_action, options_for_select(options), disabled: true, name: nil %>
            <span class="cancellation">Grund: <%= text_field_tag :reason, nil, placeholder: "optional", disabled: true %><% if retail? %> <%= check_box_tag :refund, nil, true, disabled: true %> Rückzahlung direkt in Bar<% end %></span>
            <%= submit_tag :ok, name: nil, disabled: true %>
          </td>
        </tr>
      </tbody>
      <% if @order.tickets.first.seat.present? %>
        <thead>
          <tr>
            <th colspan="<%= tickets_colspan %>">Sitzplätze</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td colspan="<%= tickets_colspan %>">
              <%= render "application/ticketing/seating", options: { data: { additional_path: orders_path(:seats_ticketing_order, @order) } }, view_chooser: true, default_view: :numbers_and_underlay %>
            </td>
          </tr>
        </tbody>
      <% end %>
    </table>
  <% end %>
<% end %>
<% cache [@order, @order.log_events] do %>
  <%= render "application/ticketing/log_events", events: @order.log_events, scope: (scope + [:log_events]) %>
<% end %>
<% cache [@order, @order.billing_account, params[:type]] do %>
  <table class="rounded entries billingLog details">
    <thead>
      <tr>
        <th colspan="3">Zahlungsprotokoll</th>
      </tr>
      <tr>
        <th>Datum</th>
        <th>Anmerkung</th>
        <th>Betrag</th>
      </tr>
    </thead>
    <tbody class="log">
      <% @order.billing_account.transfers.each do |transfer| %>
        <tr>
          <td class="date"><%= l transfer.created_at, format: "%d.%m.%y, %H:%M" %></td>
          <td><%= t transfer.note_key, { scope: [:ticketing, :orders, :balancing] } %></td>
          <td><%= format_billing_amount(transfer.amount) %></td>
        </tr>
      <% end %>
      <tr>
        <td></td>
        <td>Saldo</td>
        <td class="<%= @order.billing_account.outstanding? ? "negative" : "positive" %>">
          <%= format_billing_amount(@order.billing_account.balance) %>
        </td>
      </tr>
    </tbody>
    <thead>
      <tr>
        <th colspan="3">Neue Zahlung verbuchen</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td colspan="3">
          <% if @billing_actions.empty? %>
            Keine Zahlungsbuchung möglich, da Saldo ausgeglichen. Für Korrekturen kontaktieren Sie bitte einen Verantwortlichen.
          <% else %>
            <%= form_tag orders_path(:create_billing_ticketing_order, @order), method: :post, data: { confirm: "Möchten Sie diese Zahlung wirklich verbuchen?" } do %>
              <%= select_tag :note, options_for_select(@billing_actions) %>
              <span>Betrag: <%= text_field_tag :amount, nil, placeholder: "-1,00" %></span>
              <%= submit_tag "buchen" %>
            <% end %>
          <% end %>
        </td>
      </tr>
    </tbody>
  </table>
<% end %>
<%= render "application/ticketing/print_notification" %>
