<% title "Bestellungsdetails ##{@bunch.number}" %>
<% include_css "ticketing/orders" %>
<% include_js "ticketing/orders" %>
<% cache [:ticketing, :orders, :show, @bunch.id] do %>
  <% order = @bunch.assignable %>
  <div class="hl">Bestellungsdetails</div>
  <% overview = [
    ["Nummer", "<b>#{@bunch.number}</b>"],
    ["aufgegeben", l(order.created_at, format: "%d. %B %Y, %H:%M Uhr")],
    ["Tickets", @bunch.tickets.count],
    ["Gesamtbetrag", number_to_currency(@bunch.total)],
    ["bezahlt", @bunch.paid ? "ja" : "nein"],
    ["Gutschein", @bunch.coupon ? link_to(@bunch.coupon.recipient, @bunch.coupon) : "<em>keiner</em>"]
  ] %>
  <div class="top-tables">
    <table class="rounded">
      <%= render "show_overview_table", title: "Übersicht", overview: overview %>
      <%
        if order.is_a? Ticketing::Retail::Order
          title = "Bestellung an Vorverkaufsstelle"
          overview = [
            ["Vorverkaufsstelle", order.store.name]
          ]
        else
          title = "Online-Bestellung"
          overview = [
            ["Nachname", order.last_name],
            ["Vorname", order.first_name],
            ["e-mail", order.email],
            ["Telefon", order.phone]
          ]
          payment = [
            ["Zahlungsart", order.bank_charge ? "Bankeinzug" : "Überweisung"]
          ]
          if order.bank_charge
            payment.concat [
              ["Kontoinhaber", order.bank_charge.name],
              ["Kontonummer", order.bank_charge.number],
              ["BLZ", order.bank_charge.blz],
              ["Bank", order.bank_charge.bank],
              ["geprüft", order.bank_charge.approved ? "ja" : "nein"]
            ]
          end
        end
      %>
      <%= render "show_overview_table", title: title, overview: overview %>
      <%= render "show_overview_table", title: "Zahlung", overview: payment if payment %>
    </table>
    <table class="rounded actions">
      <thead>
        <tr>
          <th>Aktionen</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <% if @bunch.assignable.is_a? Ticketing::Web::Order %>
              <% if !@bunch.paid %>
                <div><%= link_to "als bezahlt markieren", mark_as_paid_ticketing_order_path(@bunch), method: :put %></div>
                <div><%= link_to "Zahlungserinnerung senden", send_pay_reminder_ticketing_order_path(@bunch), method: :put, confirm: "Möchten Sie wirklich eine Zahlungserinnerung senden?" %></div>
              <% elsif order.bank_charge && !order.bank_charge.approved %>
                <div><%= link_to "als geprüft markieren", approve_ticketing_order_path(@bunch), method: :put %></div>
              <% end %>
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <% events = @bunch.log_events.order("id DESC") %>
  <table class="rounded entries log">
    <thead>
      <tr>
        <th colspan="3">Protokoll</th>
      </tr>
      <% if !events.size.zero? %>
        <tr>
          <th>Aktion</th>
          <th>Benutzer</th>
          <th>Datum</th>
        </tr>
      <% end %>
    </thead>
    <tbody>
      <% if events.size.zero? %>
        <tr>
          <td class="empty" colspan="3">Keine Protokolleinträge vorhanden.</td>
        </tr>
      <% else %>
        <% events.each do |event| %>
          <tr>
            <td><%= t event.name, scope: [:ticketing, :orders, :log_events] %></td>
            <td><%= "#{event.member.first_name} #{event.member.last_name}" if event.member %></td>
            <td class="date"><%= l event.created_at, format: "%d.%m.%y, %H:%M" %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
  <table class="rounded entries">
    <thead>
      <tr>
        <th colspan="6">In der Bestellung enthaltene Tickets</th>
      </tr>
      <tr>
        <th>Nummer</th>
        <th>Kategorie</th>
        <th>Preis</th>
        <th>Aufführung</th>
        <th>Block</th>
        <th>Sitz</th>
      </tr>
    </thead>
    <tbody>
      <% @bunch.tickets.each do |ticket| %>
        <tr>
          <td class="number"><%= ticket.number %></td>
          <td class="name"><%= ticket.type.name %></td>
          <td class="amount"><%= number_to_currency ticket.type.price %></td>
          <td class="date"><%= l ticket.date.date, format: "%d. %B" %></td>
          <td><%= ticket.seat.block.name %></td>
          <td><%= ticket.seat.number %></td>
        </tr>
      <% end %>
    </tbody>
    <thead>
      <tr>
        <th colspan="6">Sitzplätze</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td colspan="6">
          <div class="seating noSelection noScroller noSeatBorders">
            <%= render "application/ticketing/seats", seats: Ticketing::Seat.scoped, no_stage: true %>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
<% end %>