<% title "Bestellungsdetails ##{@order.number}" %>
<% include_css "ticketing/orders" %>
<% include_js "ticketing/orders" %>
<% scope = [:ticketing, :orders] %>
<div class="hl">Bestellungsdetails</div>
<% overview = [
  ["Nummer", "<b>#{@order.number}</b>"],
  ["aufgegeben", l(@order.created_at, format: "%d. %B %Y, %H:%M Uhr")],
  ["Tickets", @order.tickets.cancelled(false).count],
  ["Gesamtbetrag", number_to_currency(@order.total)],
  ["bezahlt", @order.paid ? "ja" : "nein"],
  ["Gutschein", @order.coupon ? link_to(@order.coupon.recipient, @order.coupon) : content_tag(:em, "keiner", class: :small)]
] %>
<div class="topTables">
  <table class="rounded details">
    <%= render "show_overview_table", title: "Übersicht", overview: overview %>
    <%
      if @order.is_a? Ticketing::Retail::Order
        title = "Bestellung an Vorverkaufsstelle"
        overview = [
          ["Vorverkaufsstelle", @order.store.name]
        ]
      else
        title = "Online-Bestellung"
        overview = [
          ["Nachname", @order.last_name],
          ["Vorname", @order.first_name],
          ["e-mail", @order.email],
          ["Telefon", @order.phone],
          ["PLZ", @order.plz]
        ]
        if !@order.total.zero?
          payment = [
            ["Zahlungsart", t(@order.pay_method, scope: (scope + [:pay_methods]))]
          ]
          if @order.bank_charge
            payment.concat [
              ["Kontoinhaber", @order.bank_charge.name],
              ["IBAN", @order.bank_charge.iban],
              ["BIC", @order.bank_charge.bic],
              ["geprüft", @order.bank_charge.approved ? "ja" : "nein"]
            ]
          end
        end
      end
    %>
    <%= render "show_overview_table", title: title, overview: overview %>
    <%= render "show_overview_table", title: "Zahlung", overview: payment if payment %>
  </table>
  <div class="rightTables">
    <table class="rounded actions details">
      <thead>
        <tr>
          <th>Aktionen</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <% if !@order.cancelled? %>
              <% if @order.is_a? Ticketing::Web::Order %>
                <% if !@order.paid %>
                  <div><%= link_to "als bezahlt markieren", orders_path(:mark_as_paid_ticketing_order, @order), method: :patch, data: { confirm: "Möchten Sie diese Bestellung wirklich als bezahlt markieren?" } %></div>
                  <% if @order.transfer? %>
                    <div><%= link_to "Zahlungserinnerung senden", orders_path(:send_pay_reminder_ticketing_order, @order), method: :post, data: { confirm: "Möchten Sie wirklich eine Zahlungserinnerung senden?" } %></div>
                  <% end %>
                <% else %>
                  <% if @order.bank_charge && !@order.bank_charge.approved %>
                    <div><%= link_to "als geprüft markieren", orders_path(:approve_ticketing_order, @order), method: :patch %></div>
                  <% end %>
                  <div><%= link_to "Tickets erneut zusenden", orders_path(:resend_tickets_ticketing_order, @order), method: :post, data: { confirm: "Möchten Sie die Tickets wirklich erneut zusenden?" } %></div>
                <% end %>
              <% end %>
              <% if retail? %>
                <div><%= link_to "Tickets drucken", nil, class: :"print-tickets", data: { printable_path: @order.printable_path } %></div>
              <% else %>
                <div><%= link_to "Tickets runterladen", @order.printable_path %></div>
              <% end %>
              <div>
                <%= link_to "Gesamte Bestellung stornieren", nil, id: "cancelAction" %>
                <div id="cancelForm">
                  <%= form_tag orders_path(:cancel_ticketing_order, @order), method: :post do %>
                    Grund: <%= text_field_tag :reason %><%= submit_tag "stornieren" %>
                  <% end %>
                </div>
              </div>
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>
    <% if @order.cancelled? %>
      <table class="rounded cancellation details">
        <thead>
          <tr>
            <th>Storniert</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              Grund: <%= @order.cancellation.reason.empty? ? "<em>nicht angegeben</em>".html_safe : @order.cancellation.reason %>
            </td>
          </tr>
        </tbody>
      </table>
    <% end %>
  </div>
</div>
<% cache [:ticketing, :orders, @order, @order.log_events] do %>
  <% events = @order.log_events.order("id DESC") %>
  <table class="rounded entries log details">
    <thead>
      <tr>
        <th colspan="3">Protokoll</th>
      </tr>
      <% if !events.size.zero? %>
        <tr>
          <th>Aktion</th>
          <th>Benutzer</th>
          <th>Datum</th>
        </tr>
      <% end %>
    </thead>
    <tbody>
      <% if events.size.zero? %>
        <tr>
          <td class="empty" colspan="3">Keine Protokolleinträge vorhanden.</td>
        </tr>
      <% else %>
        <% events.each do |event| %>
          <tr>
            <td><%= t event.name, { scope: (scope + [:log_events]) }.merge(event.info) %></td>
            <td><%= "#{event.member.first_name} #{event.member.last_name}" if event.member %></td>
            <td class="date"><%= l event.created_at, format: "%d.%m.%y, %H:%M" %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
<% end %>
<% cache [:ticketing, :orders, @order, @order.tickets] do %>
  <%= form_tag orders_path(:edit_ticketing_order_tickets, @order), method: :patch do %>
    <table class="rounded entries details">
      <thead>
        <tr>
          <th colspan="7">In der Bestellung enthaltene Tickets</th>
        </tr>
        <tr>
          <th class="checkbox"><%= check_box_tag "tickets_all[]" %></th>
          <th>Nummer</th>
          <th>Kategorie</th>
          <th>Preis</th>
          <th>Aufführung</th>
          <th>Block</th>
          <th>Sitz</th>
        </tr>
      </thead>
      <tbody class="hover">
        <% @order.tickets.each do |ticket| %>
          <% classes = :cancelled if ticket.cancelled? %>
          <%= content_tag_for :tr, ticket, class: classes do %>
            <td><%= check_box_tag "ticket_ids[]", ticket.id, false, disabled: ticket.cancelled? %></td>
            <td class="number"><%= ticket.number %></td>
            <td class="name"><%= ticket.type.name %></td>
            <td class="amount"><%= number_to_currency ticket.type.price %></td>
            <td class="date"><%= l ticket.date.date, format: "%d. %B" %></td>
            <td><%= ticket.seat.block.name %></td>
            <td><%= ticket.seat.number %></td>
          <% end %>
        <% end %>
      </tbody>
      <tbody>
        <tr>
          <td colspan="7" class="actions">
            <%= select_tag :edit_action, options_for_select({ "stornieren" => :cancel, "umbuchen" => :transfer }), disabled: true %>
            <span class="reason">Grund: <%= text_field_tag :reason %></span>
            <%= submit_tag :ok, disabled: true %>
          </td>
        </tr>
      </tbody>
      <thead>
        <tr>
          <th colspan="7">Sitzplätze</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan="7">
            <%= render "application/ticketing/seating", options: { data: { additional_path: orders_path(:seats_ticketing_order, @order) } } %>
          </td>
        </tr>
      </tbody>
    </table>
  <% end %>
<% end %>
<%= render "application/ticketing/print_notification" %>