<% title "Mitgliederverwaltung – #{title}" %>
<div class="hl">Mitgliederverwaltung</div>
<%= form_for [:admin, @member] do |f| %>
  <div class="box">
    <div class="top">
      <%= title %>
    </div>
    <div class="con">
      <%= render "errors", errors: @member.errors %>
      <table>
        <tr>
          <td width="40%">Vorname:</td>
          <td><%= f.text_field :first_name, required: true %></td>
        </tr>
        <tr>
          <td>Nachname:</td>
          <td><%= f.text_field :last_name, required: true %></td>
        </tr>
        <tr>
          <td>Spitzname:</td>
          <td><%= f.text_field :nickname %></td>
        </tr>
        <tr>
          <td>e-mail-Adresse:</td>
          <td><%= f.text_field :email %></td>
        </tr>
        <tr>
          <td>Geburtstag:</td>
          <td><%= f.date_select :birthday, include_blank: true, start_year: 1910, end_year: Date.today.year %></td>
        </tr>
        <tr>
          <td>Gruppe:</td>
          <td><%= f.select(:group, options_for_select(@groups, @member.group)) %></td>
        </tr>
        <% if !@member.in_family? %>
          <tr>
            <td>
              Zu Familie hinzufügen von:
              <div class="small">Wählen Sie ein Familienmitglied, dessen Familie dieses Mitglied zugeordnet werden soll.</div>
            </td>
            <td><%= f.collection_select(:family_member_id, @members, :id, ->(member) { "#{member.last_name}, #{member.first_name}" }, include_blank: true) %></td>
          </tr>
        <% end %>
        <%= content_tag :tr do %>
          <td>
            Aktivierungsmail zusenden:
          </td>
          <td>
            <%= check_box :activation, :send, checked: true %>
            <div class="small">Wird nur versendet, wenn e-mail-Adresse angegeben.</div>
          </td>
        <% end if @member.new_record? %>
      </table>
      <div class="submit">
        <%= cond_submit f %>
      </div>
      <%= content_tag :div, class: [:small, :hcen] do %>
        <%= link_to "Passwort zurücksetzen und Aktivierungsmail erneut zusenden.", reactivate_admin_members_member_path, method: :patch, data: { confirm: "Möchten Sie diesem Mitglied wirklich eine neue Aktivierungsmail zusenden?" } %>
      <% end if !@member.new_record? && @member.email.present? %>
      <p>
        <h3>Familie</h3>
        <% if @member.in_family? %>
          <ul>
            <% @member.family.members.alphabetically.each do |member| %>
              <li><%= link_to member.full_name, edit_admin_members_member_path(member) %></li>
            <% end %>
            <p><small><%= link_to 'Dieses Mitglied aus der Familie entfernen.', admin_members_member_path(@member, members_member: { family_id: nil }), method: :patch, data: { confirm: 'Möchten Sie das Mitglied wirklich aus der Familie entfernen?'} %></small></p>
          </ul>
        <% else %>
          <em>Dieses Mitglied ist keiner Familie zugeordnet.</em>
        <% end %>
      </p>
    </div>
  </div>
<% end %>
