<% include_css 'members/main' %>
<% title "Mitgliederverwaltung – #{title}" %>
<div class="hl">Mitgliederverwaltung</div>
<%= form_for [:admin, @member] do |f| %>
  <div class="box">
    <div class="top">
      <%= title %>
    </div>
    <div class="con">
      <%= render "errors", errors: @member.errors %>
      <%= render "errors", errors: @member.sepa_mandate.errors %>
      <table>
        <tr>
          <td width="40%">Vorname:</td>
          <td><%= f.text_field :first_name, required: true %></td>
        </tr>
        <tr>
          <td>Nachname:</td>
          <td><%= f.text_field :last_name, required: true %></td>
        </tr>
        <tr>
          <td>Vorname in Anrede:
            <div class="small">
              Zum Beispiel Uli statt Ulrich. Ansonsten freilassen.
            </div>
          </td>
          <td>
            <%= f.text_field :nickname, value: @member[:nickname] %>
          </td>
        </tr>
        <tr>
          <td>Geburtstag:</td>
          <td><%= f.date_select :birthday, include_blank: true, start_year: 1910, end_year: Date.today.year %></td>
        </tr>

        <tr>
          <td colspan="2"><h3>Adresse</h3></td>
        </tr>
        <tr>
          <td>Straße und Hausnummer:</td>
          <td><%= f.text_field :street %></td>
        </tr>
        <tr>
          <td>PLZ:</td>
          <td><%= f.number_field :plz, limit: 5 %></td>
        </tr>
        <tr>
          <td>Stadt:</td>
          <td><%= f.text_field :city %></td>
        </tr>

        <tr>
          <td colspan="2"><h3>Kontaktdaten</h3></td>
        </tr>
        <tr>
          <td>e-mail-Adresse:</td>
          <td><%= f.email_field :email %></td>
        </tr>
        <tr>
          <td>Telefonnummer:</td>
          <td><%= f.text_field :phone %></td>
        </tr>

        <tr>
          <td colspan="2"><h3>Bankverbindung</h3></td>
        </tr>
        <%= f.fields_for @member.sepa_mandate do |ff| %>
          <tr>
            <td>Mandat wählen:</td>
            <td>
              <%= f.select :sepa_mandate_id do %>
                <option>neues Mandat anlegen</option>
                <% @sepa_mandates.each do |category, mandates| %>
                  <optgroup label="<%= t(".sepa_mandates.#{category}") %>">
                    <% if mandates.any? %>
                      <%= options_from_collection_for_select(
                        mandates, :id, ->(m) { "#{m.number(prefixed: true)}: #{obfuscated_mandate_iban(m)}" }, selected: ->(m) { category == :all && m.id == @member.sepa_mandate_id }
                      ) %>
                    <% end %>
                  </optgroup>
                <% end %>
              <% end %>
            </td>
          </tr>
          <tr>
            <td>Kontoinhaber:</td>
            <td><%= ff.text_field :debtor_name %></td>
          </tr>
          <tr>
            <td>IBAN:</td>
            <td><%= ff.text_field :iban, value: obfuscated_mandate_iban(@member.sepa_mandate) %></td>
          </tr>
          <tr>
            <td>Mandatsnummer:</td>
            <td><%= ff.text_field :number, value: @member.sepa_mandate&.number(prefixed: true) %></td>
          </tr>
          <tr>
            <td colspan="2" class="small">Änderungen an diesem Mandat werden automatisch auch für andere Mitglieder übernommen, die ebenfalls das Mandat mit dieser Nummer nutzen.</td>
          </tr>
        <% end %>

        <tr>
          <td colspan="2"><h3>Weitere Angaben</h3></td>
        </tr>
        <% if !@member.in_family? %>
          <tr>
            <td>
              Zu Familie hinzufügen von:
              <div class="small">Wählen Sie ein Familienmitglied, dessen Familie dieses Mitglied zugeordnet werden soll.</div>
            </td>
            <td><%= f.collection_select(:family_member_id, @members, :id, ->(member) { "#{member.last_name}, #{member.first_name}" }, include_blank: true) %></td>
          </tr>
        <% end %>
        <tr>
          <td>Beitrittsdatum:</td>
          <td><%= f.date_select :joined_at, start_year: 2009, end_year: Date.today.year, default: Date.today %></td>
        </tr>
        <tr>
          <td>Gruppe:</td>
          <td><%= f.select(:group, options_for_select(@groups, @member.group)) %></td>
        </tr>
        <% if @member.persisted? %>
          <tr>
            <td>Letzter Login:</td>
            <td><%= last_login_time @member %></td>
          </tr>
        <% end %>
        <%= content_tag :tr do %>
          <td>
            Aktivierungsmail zusenden:
          </td>
          <td>
            <%= check_box :activation, :send, checked: true %>
            <div class="small">Wird nur versendet, wenn e-mail-Adresse angegeben.</div>
          </td>
        <% end if @member.new_record? %>
      </table>
      <div class="submit">
        <%= cond_submit f %>
      </div>
      <%= content_tag :div, class: [:small, :hcen] do %>
        <%= link_to "Passwort zurücksetzen und Aktivierungsmail erneut zusenden.", reactivate_admin_members_member_path, method: :patch, data: { confirm: "Möchten Sie diesem Mitglied wirklich eine neue Aktivierungsmail zusenden?" } %>
      <% end if !@member.new_record? && @member.email.present? %>
      <% if @member.persisted? %>
        <p>
          <h3>Familie</h3>
          <% if @member.in_family? %>
            <ul>
              <% @member.family.members.alphabetically.each do |member| %>
                <li><%= link_to member.name.full, edit_admin_members_member_path(member) %></li>
              <% end %>
              <p><small><%= link_to 'Dieses Mitglied aus der Familie entfernen.', admin_members_member_path(@member, members_member: { family_id: nil }), method: :patch, data: { confirm: 'Möchten Sie das Mitglied wirklich aus der Familie entfernen?'} %></small></p>
            </ul>
          <% else %>
            <em>Dieses Mitglied ist keiner Familie zugeordnet.</em>
          <% end %>
        </p>
      <% end %>
    </div>
  </div>
<% end %>
