<% title "Mitgliederverwaltung" %>
<% cache @members do %>
  <div class="hl">Mitgliederverwaltung</div>
  <%= render "new_button", :action => "neues Mitglied" %>
  <p>Aktuelle Mitgliederzahl: <b><%= @members.count %></b></p>
  <table class="rounded">
    <thead>
      <tr>
        <th></th>
        <th>Nachname</th>
        <th>Vorname</th>
        <th width="20%">im Vorstand</th>
        <th class="actionBtns"></th>
      </tr>
    </thead>
    <tbody>
      <% @members.each do |member| %>
        <tr>
          <td width="25"><%= image_tag "group.svg", width: 25, title: "Dieses Mitglied ist Teil einer Familie." if member.in_family? %></td>
          <td><%= link_to member.last_name, [:admin, member] %></td>
          <td><%= link_to member.first_name, [:admin, member] %></td>
          <td class="hcen"><% if member.admin? %><b>ja</b><% end %></td>
          <td class="actionBtns">
            <%= render "admin_actions", :obj => [:admin, member], :delete_confirm => "dieses Mitglied" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
