<% title "Mitgliederverwaltung" %>
<div class="hl">Mitgliederverwaltung</div>
<%= render "new_button", :action => "neues Mitglied" %>
<table class="rounded">
	<thead>
		<tr>
			<th class="id">#</th>
			<th>Nachname</th>
			<th>Vorname</th>
			<th class="actionBtns"></th>
		</tr>
	</thead>
	<tbody>
		<% @members.each do |member| %>
			<tr>
				<td class="id"><%= member.id %></td>
				<td><%= member.last_name %></td>
				<td><%= member.first_name %></td>
				<td class="actionBtns">
					<%= render "admin_actions", :obj => [:admin, member], :delete_confirm => "dieses Mitglied" %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>