<% include_css 'members/main' %>
<% title "Mitgliederverwaltung – #{@member.name.full}" %>
<div class="hl">Mitgliederverwaltung</div>
<div class="box">
  <div class="top">
    <%= @member.name.full %>
  </div>
  <div class="con">
    <div class="hright">
      <% if !@member.membership_terminated? %>
        <%= link_to 'Kündigung vormerken', admin_members_member_path(@member, members_member: { terminated: true }), method: :patch, data: { confirm: 'Möchten Sie eine Kündigung wirklich vormerken?'} %> |
      <% end %>
      <%= link_to 'Daten bearbeiten', edit_admin_members_member_path(@member) %>
    </div>
    <table>
      <tr>
        <td width="40%">Mitgliedsnummer:</td>
        <td class="monospace"><%= @member.number %></td>
      </tr>
      <tr>
        <td>Name:</td>
        <td>
          <%= @member.name.full %>
          <% if @member.nickname != @member.first_name %>
            <em>(<%= @member.nickname %>)</em>
          <% end %>
        </td>
      </tr>
      <tr>
        <td>Geburtstag:</td>
        <td><%= l @member.birthday, format: :long if @member.birthday %></td>
      </tr>
      <% if @member.membership_terminated? %>
        <tr>
          <td colspan="2">
            <div class="terminated">
              Mitgliedschaft gekündigt zum <%= l @member.membership_terminates_on, format: :long %>
            </div>
            <div class="small hcen">
              <%= link_to 'Kündigung zurücknehmen', admin_members_member_path(@member, members_member: { terminated: false }), method: :patch, data: { confirm: 'Möchten Sie die Kündigung wirklich zurücknehmen?'} %>
            </div>
          </td>
        </tr>
      <% end %>

      <tr>
        <td colspan="2"><h3>Kontaktdaten</h3></td>
      </tr>
      <tr>
        <td>Adresse:</td>
        <td>
          <%= @member.street %><br>
          <%= @member.plz %> <%= @member.city %>
        </td>
      </tr>
      <tr>
        <td>E-Mail-Adresse:</td>
        <td><%= mail_to @member.email %></td>
      </tr>
      <tr>
        <td>Telefonnummer:</td>
        <td><%= @member.phone %></td>
      </tr>

      <tr>
        <td colspan="2"><h3>Bankverbindung</h3></td>
      </tr>
      <% if @member.sepa_mandate.present? %>
        <tr>
          <td>Kontoinhaber:</td>
          <td><%= @member.sepa_mandate.debtor_name %></td>
        </tr>
        <tr>
          <td>IBAN:</td>
          <td class="monospace">
            <%= obfuscated_mandate_iban(@member.sepa_mandate) %>
          </td>
        </tr>
        <tr>
          <td>Mandat:</td>
          <td>
            <span class="monospace">
              <%= @member.sepa_mandate.number(prefixed: true) %>
            </span>
            (vom <%= l @member.sepa_mandate.issued_on %>)
          </td>
        </tr>
      <% end %>

      <tr>
        <td colspan="2"><h3>Mitgliedsbeitrag</h3></td>
      </tr>
      <tr>
        <td>Jahresbeitrag:</td>
        <td><%= number_to_currency(@member.membership_fee) %></td>
      </tr>
      <tr>
        <td>zuletzt bezahlt:</td>
        <td><%= last_membership_fee_payment_date(@member) %></td>
      </tr>
      <% if @member.membership_fee_paid_until.present? %>
        <tr>
          <td>bezahlt bis:</td>
          <td><%= l @member.membership_fee_paid_until, format: :long %></td>
        </tr>
      <% end %>

      <tr>
        <td colspan="2"><h3>Weitere Angaben</h3></td>
      </tr>
      <tr>
        <td>Beitrittsdatum:</td>
        <td><%= l @member.joined_at, format: :long %></td>
      </tr>
      <tr>
        <td>Im Vorstand:</td>
        <td><% if @member.admin? %>Ja<% else %>Nein<% end %></td>
      </tr>
      <tr>
        <td>Letzter Login:</td>
        <td><%= last_login_time @member %></td>
      </tr>
      <tr>
        <td>Familie:</td>
        <td>
          <% if @member.in_family? %>
            <ul>
              <% @member.family.members.alphabetically.each do |member| %>
                <li><%= link_to member.name.full, admin_members_member_path(member) %></li>
              <% end %>
              <p><small><%= link_to 'Dieses Mitglied aus der Familie entfernen.', admin_members_member_path(@member, members_member: { family_id: nil }), method: :patch, data: { confirm: 'Möchten Sie das Mitglied wirklich aus der Familie entfernen?'} %></small></p>
            </ul>
          <% else %>
            <em>Dieses Mitglied ist keiner Familie zugeordnet.</em>
          <% end %>
        </td>
      </tr>
    </table>
  </div>
</div>
