<%= form_for @coupon do |f| %>
  <table class="rounded show">
    <thead>
      <tr>
        <th colspan="2">Gutschein <%= title %></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Empfänger:</td>
        <td><%= f.text_field :recipient %></td>
      </tr>
      <tr>
        <td>Freikarten:</td>
        <td>
          <%= f.number_field :free_tickets, class: :numberField %>
        </td>
      </tr>
      <tr>
        <td>Sitzplatzvorreservierungen:</td>
        <td>
          <ul>
          <% @reservation_groups.each do |group| %>
            <li>
              <%= check_box_tag "ticketing_coupon[reservation_group_ids][]", group.id, @coupon.reservation_groups.include?(group), id: dom_id(group) %>
              <%= label_tag dom_id(group), group.name %>
            </li>
          <% end %>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="hcen submit">
    <%= f.submit "speichern" %>
  </div>
<% end %>