<table class="rounded entries">
  <thead>
    <tr>
      <th colspan="4"><%= title %></th>
    </tr>
    <tr>
      <th>Empfänger</th>
      <th>Wert</th>
      <th>bereits genutzt</th>
      <th></th>
    </tr>
  </thead>
  <tbody class="hover">
    <% coupons.each do |coupon| %>
      <% cache [:ticketing, :coupons, coupon] do %>
        <tr data-path="<%= ticketing_coupon_path(coupon) %>">
          <td><%= link_to coupon.recipient || "<em>niemand angegeben</em>".html_safe, coupon %></td>
          <td>
            <% if coupon.free_tickets > 0 %><div><%= t("ticketing.coupons.free_tickets", count: coupon.free_tickets) %></div><% end %>
            <%= content_tag :div do %>Zugang zu vorreservierten Plätzen<% end if !coupon.reservation_groups.empty? %>
          </td>
          <td><%= !coupon.orders.empty? ? "ja" : "nein" %></td>
          <td class="actionBtns"><%= render "admin_actions", :obj => coupon, :delete_confirm => "diesen Gutschein" %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
