<% title "Gästebuch - #{title}" %>
<% include_css "gbook" %>
<%= form_for @entry do |f| %>
	<div class="box">
		<div class="top">
			<%= title %>
		</div>
		<div class="con">
			<%= render "errors", :errors => @entry.errors %>
			<table>
				<tr class="name">
					<td>Ihr Name:</td>
					<td><%= f.text_field :author, :placeholder => "freiwillig" %></td>
				</tr>
				<tr>
					<td>Ihre Nachricht:</td>
					<td><%= f.text_area :text, :required => true %></td>
				</tr>
			</table>
			<div class="submit">
				<%= f.submit :value => "eintragen" %>
			</div>
		</div>
	</div>
<% end %>
