<% title "Gästebuch - Neuer Eintrag" %>
<% include_css "gbook" %>
<%= form_for @entry do |f| %>
	<%= hidden_field :add, :codeNr, :value => @codeNr %>
	<div class="box">
		<div class="top">
			Neuer Eintrag
		</div>
		<div class="con">
			<div id="errors"><%= @notice %></div>
			<table>
				<tr class="name">
					<td>Ihr Name:</td>
					<td><%= f.text_field :author, :required => true %></td>
				</tr>
				<tr>
					<td>Ihre Nachricht:</td>
					<td><%= f.text_area :text, :required => true %></td>
				</tr>
				<tr>
					<td>
						Sicherheitscode:<br />
						<%= image_tag "http://system.albisigns.de/gfx/captcha/" + @codeNr.to_s + ".jpg", :alt => "" %>
					</td>
					<td class="code">
						<%= text_field :add, :code, :required => true, :size => 4 %>
						<div>Geben Sie einfach die vier Zeichen aus der Grafik in dieses Feld ein.</div>
					</td>
				</tr>
			</table>
			<div class="submit">
				<%= f.submit :value => "eintragen" %>
			</div>
		</div>
	</div>
<% end %>
