<% title "Termine – Alice im Wunderland – Kinder- und Jugendtheater 2016" %>
<% include_css "dates" %>
<% cache [@event, @ticket_types, @event.sale_started?, @event.dates.map { |e| e.sold_out? }] do %>
  <script type="application/ld+json">
    <%= raw json_escape(structured_data.to_json) %>
  </script>
  <div class="alice_wunderland">
    Das <b>Kinder- und Jugendtheater</b> der Freilichtbühne am schiefen Turm präsentiert <b>„Alice im Wunderland“</b> in der <b>Alten Schule in Kaisersesch</b> an folgenden Tagen:
    <div class="container">
      <div class="title">
        <%= image_tag("theater/alice_wunderland/title.jpg", alt: "Alice im Wunderland") %>
      </div>
      <div class="box dates">
        <div class="top">
          Termine
        </div>
        <div class="con">
          <table>
            <% @event.dates.each do |date| %>
              <%= content_tag :tr, class: (date.sold_out? ? :disabled : nil) do %>
                <td class="point"></td>
                <td class="day">
                  <span class="line_through"><%= l date.date, format: "%A" %></span>
                  <% if date.sold_out? %><div class="sold_out">ausverkauft</div><% end %>
                </td>
                <td class="date">
                  <span class="line_through"><%= l date.date, format: "%e. %B" %></span>
                  <div class="line_through time"><%= l date.date, format: "%H.%M Uhr" %></div>
                </td>
              <% end %>
            <% end %>
          </table>
          <p>Einlass jeweils eine Stunde vor Beginn.</p>
        </div>
      </div>
    </div>
    <div class="trenner"></div>
    <div class="hl">
      Ticketvorverkauf
      <div class="small">ab <%= l @event.sale_start, format: "%e. %B" %></div>
    </div>
    <div class="prices">
      <table class="rounded">
        <% @ticket_types.each do |type| %>
          <tr>
            <td class="price"><%= number_to_currency(type.price) %></td>
            <td><%= type.name %><div class="small"><%= type.info %></div></td>
          </tr>
        <% end %>
      </table>
    </div>
    <% if @event.sale_started? %>
      <%= link_to "Tickets jetzt online bestellen!", new_ticketing_order_path, class: "hl order shadow" %>
      <div class="stores hcen">
        Oder alternativ in der Buchhandlung Walgenbach in Kaisersesch.
      </div>
    <% end %>
    <div class="trenner"></div>
    <div class="hcen hotline">
      <div class="hl">Sie haben Fragen?</div>
      <br />Schauen Sie in unsere <%= link_to "häufig gestellten Fragen", info_path %> oder rufen Sie uns an:
      <a name="hotline"></a>
      <p>Info-Hotline: <b>(02653) 28 27 09</b> <em class="small">(zum Ortstarif)</em></p>
    </div>
  </div>
<% end %>
