<% title "Termine - Der Besuch der alten Dame - Sommernachtstheater 2016" %>
<% include_css "dates" %>
<% cache [:dates, @event, @ticket_types, @event.dates.map { |e| e.sold_out? }] do %>
  <div class="alte_dame">
    Unser <b>Sommernachtstheater 2016 „<%= link_to "Der Besuch der alten Dame", theater_alte_dame_path, class: :shadow %>“</b> wird auf der Freilichtbühne im Historischen Ortskern von Kaisersesch an folgenden Tagen aufgeführt:
    <div class="container">
      <div class="title">
        <%= link_to image_tag("theater/alte_dame/title.jpg", alt: "Der Besuch der alten Dame"), theater_alte_dame_path %>
      </div>
      <div class="box dates">
        <div class="top">
          Termine
        </div>
        <div class="con">
          <table>
            <% @event.dates.each do |date| %>
              <%= content_tag :tr, class: (date.sold_out? ? :disabled : nil) do %>
                <td class="point"></td>
                <td class="day">
                  <span class="line_through"><%= l date.date, format: "%A" %></span>
                  <% if date.sold_out? %><div class="sold_out">ausverkauft</div><% end %>
                </td>
                <td class="date">
                  <span class="line_through"><%= l date.date, format: "%d. %B" %></span>
                  <div class="line_through time"><%= l date.date, format: "%H.%M Uhr" %></div>
                </td>
              <% end %>
            <% end %>
          </table>
          <p>Einlass jeweils eine Stunde vor Beginn.</p>
        </div>
      </div>
    </div>
    <div class="trenner"></div>
    <div class="hl">
      Ticketvorverkauf
      <div class="small">ab <%= l @event.sale_start, format: "%d. %B" %></div>
    </div>
    <div class="prices">
      <table class="rounded">
        <% @ticket_types.each do |type| %>
          <tr>
            <td class="price"><%= number_to_currency(type.price) %></td>
            <td><%= type.name %><div class="small"><%= type.info %></div></td>
          </tr>
        <% end %>
      </table>
    </div>
    <% if @event.sale_started? %>
      <%= link_to "Tickets jetzt online bestellen!", new_ticketing_order_path, class: "hl order shadow" %>
      <div class="stores">
        <b>Oder auch an folgenden Vorverkaufsstellen:</b>
        <ul>
          <li>Sportstudio Otto Krechel, Kaisersesch</li>
          <li>Buchhandlung Walgenbach, Kaisersesch</li>
          <li>Buchhandlung Layaa-Laulhé, Cochem</li>
        </ul>
      </div>
    <% end %>
    <div class="hcen hotline">
      <a name="hotline"></a>
      Info-Hotline: <b>(02653) 28 27 09</b> <em class="small">(zum Ortstarif)</em>
    </div>
    <div class="trenner"></div>
    <%= render "restaurants" %>
  </div>
<% end %>
