<% title 'SahneMixx – Termine' %>
<% include_css 'dates' %>
<% cache [@event, @ticket_types, @event.on_sale?, Ticketing::Ticket.all] do %>
  <script type="application/ld+json">
    <%= raw json_escape(structured_data(@event).to_json) %>
  </script>
  <div class="other-events">
    Termine zu <%= image_tag 'theater/herdmanns/ticket_header.svg', height: 50, valign: 'middle' %> finden Sie <%= link_to 'hier', dates_event_path('hilfe-die-herdmanns-kommen') %>.
  </div>
  <div class="sahnemixx">
    Die Freilichtbühne am schiefen Turm präsentiert <b><%= link_to_if false, '„SahneMixx – Das Beste von Udo Jürgens“', theater_play_path(@event.slug) %></b> in der Sporthalle Kaisersesch.
    <div class="container">
      <div class="title">
        <%= link_to_if false, image_tag('theater/sahnemixx/ticket_header.svg', alt: 'SahneMixx – Das Beste von Udo Jürgens'), theater_play_path(@event.slug) %>
      </div>
      <div class="box dates">
        <div class="top">
          Termine
        </div>
        <div class="con">
          <table>
            <% @event.dates.each do |date| %>
              <%= content_tag :tr, class: (date.sold_out? ? :disabled : nil) do %>
                <td class="point"></td>
                <td class="day">
                  <span class="line_through"><%= l date.date, format: "%A" %></span>
                  <% if date.sold_out? %><div class="sold_out">ausverkauft</div><% end %>
                </td>
                <td class="date">
                  <span class="line_through"><%= l date.date, format: '%-d. %B %Y' %></span>
                  <div class="line_through time"><%= l date.date, format: "%H.%M Uhr" %></div>
                </td>
              <% end %>
            <% end %>
          </table>
          <p>Einlass eine Stunde vor Beginn.</p>
        </div>
      </div>
    </div>
    <div class="trenner"></div>
    <div class="hl">
      Ticketvorverkauf
      <div class="small">ab <%= l @event.sale_start, format: '%-d. %B' %></div>
    </div>
    <div class="prices">
      <table class="rounded">
        <% @ticket_types.each do |type| %>
          <tr>
            <td class="price"><%= number_to_currency(type.price) %></td>
            <td><%= type.name %><div class="small"><%= type.info %></div></td>
          </tr>
        <% end %>
      </table>
    </div>
    <% if @event.on_sale? %>
      <%= link_to "Tickets jetzt online bestellen", new_ticketing_order_path(@event.slug), class: "hl order" %>
      <div class="stores">
        Alternativ erhalten Sie Ihre Tickets auch über unsere Hotline (siehe weiter unten).
      </div>
    <% end %>
    <div class="trenner"></div>
    <div class="hcen hotline">
      <div class="hl">Sie haben Fragen?</div>
      <br />Schauen Sie in unsere <%= link_to "häufig gestellten Fragen", info_path(@event.slug) %> oder rufen Sie uns an:
      <a name="hotline"></a>
      <p>Info-Hotline: <b>(02653) 28 27 09</b> <em class="small">(zum Ortstarif)</em></p>
    </div>
    <div class="trenner"></div>
    <%= render "restaurants" %>
  </div>
<% end %>
