<% title "Der Glöckner von Notre Dame – Termine" %>
<% include_css "dates" %>
<% cache [@event, @ticket_types, @event.on_sale?, Ticketing::Ticket.all] do %>
  <script type="application/ld+json">
    <%= raw render('structured_data.json', image: 'theater/gloeckner/title.svg') %>
  </script>

  <%= render 'other_events' %>

  <div class="gloeckner">
    Unser <b>Sommernachtstheater 2019 „Der Glöckner von Notre Dame“</b> wird auf der Freilichtbühne im Historischen Ortskern von Kaisersesch an folgenden Tagen aufgeführt:

    <%= render 'dates' %>
    <%= render 'prices' %>

    <% if @event.on_sale? %>
      <%= render 'order_link' %>
      <div class="stores">
        Alternativ erhalten Sie Ihre Tickets auch in folgenden <b>Vorverkaufsstellen</b>:
        <p>Sportstudio (Kaisersesch), Buchhandlung Walgenbach (Kaisersesch), Buchhandlung Layaa-Laulhé (Cochem)</p>
      </div>
    <% end %>

    <%= render 'questions' %>
    <%= render 'restaurants' %>
  </div>
<% end %>
