<% title @event.name + ' – Termine' %>
<% include_css 'dates' %>
<% cache [@event, @ticket_types, @event.on_sale?, Ticketing::Ticket.all] do %>
  <script type="application/ld+json">
    <%= raw render('structured_data.json', image: 'theater/blauer_planet/title.svg') %>
  </script>

  <%= render 'other_events' %>

  <div class="blauer_planet">
    Unser <b>Kinder- und Jugendtheater 2019 „<%= @event.name %>“</b> wird auf der kleinen Bühne „Altes Wasserwerk“ (Auf der Wacht 9, Kaisersesch) an folgenden Tagen aufgeführt:

    <%= render 'dates' %>
    <%= render 'prices' %>

    <% if @event.on_sale? %>
      <%= render 'order_link' %>
      <div class="stores">
        Alternativ erhalten Sie Ihre Tickets auch in der Buchhandlung Walgenbach in Kaisersesch oder über unsere Hotline (siehe weiter unten).
      </div>
    <% end %>

    <%= render 'questions' %>
    <%= render 'restaurants' %>
  </div>
<% end %>
