<% title 'SahneMixx – Termine' %>
<% include_css 'dates' %>
<% cache [@event, @ticket_types, @event.on_sale?, Ticketing::Ticket.all] do %>
  <script type="application/ld+json">
    <%= raw render('structured_data.json', event_type: 'MusicEvent',
                                           location_type: 'EventVenue',
                                           location_name: 'Sporthalle Kaisersesch',
                                           location_address: 'Schwalbenweg, 56759 Kaisersesch') %>
  </script>

  <%= render 'other_events' %>

  <div class="sahnemixx">
    Die Freilichtbühne am schiefen Turm präsentiert <b>„SahneMixx – Das Beste von Udo Jürgens“</b> in der Sporthalle Kaisersesch.

    <%= render 'dates' %>
    <%= render 'dates/sahnemixx_video' %>
    <%= render 'prices' %>

    <% if @event.on_sale? %>
      <%= render 'order_link' %>
      <div class="stores">
        Alternativ erhalten Sie Ihre Tickets auch über unsere Hotline (siehe weiter unten).
      </div>
    <% end %>

    <%= render 'questions' %>
    <%= render 'restaurants', event_type: 'Konzert' %>
  </div>
<% end %>
