<% title 'Der Gott des Gemetzels – Termine' %>
<% include_css 'dates' %>
<% cache [@event, @ticket_types, @event.on_sale?, Ticketing::Ticket.all] do %>
  <script type="application/ld+json">
    <%= raw render('structured_data.json', image: 'theater/gemetzel/title.svg',
                                           location_type: 'EventVenue',
                                           location_name: 'Altes Wasserwerk',
                                           location_address: 'Auf der Wacht 9, 56759 Kaisersesch') %>
  </script>

  <%= render 'other_events' %>

  <div class="gemetzel">
    Unser Kammerensemble führt <b>„Der Gott des Gemetzels“</b> zum vorerst letzten Mal auf der kleinen Bühne „Altes Wasserwerk“ (Auf der Wacht 9, Kaisersesch) an folgenden Tagen auf:

    <%= render 'dates' %>
    <%= render 'prices' %>

    <% if @event.on_sale? %>
      <%= render 'order_link' %>
      <div class="stores">
        Alternativ erhalten Sie Ihre Tickets auch in der Buchhandlung Layaa-Laulhé in Cochem oder über unsere Hotline (siehe weiter unten).
      </div>
    <% end %>

    <%= render 'questions' %>
  </div>
<% end %>
