<% title 'Hilfe, die Herdmanns kommen – Termine' %>
<% include_css 'dates' %>
<% cache [@event, @ticket_types, @event.on_sale?, Ticketing::Ticket.all] do %>
  <script type="application/ld+json">
    <%= raw json_escape(structured_data(@event).to_json) %>
  </script>
  <%= render 'other_events' %>
  <div class="herdmanns">
    Unser <b>Kinder- und Jugendtheater 2018 „Hilfe, die Herdmanns kommen“</b> wird auf der kleinen Bühne „Altes Wasserwerk“ (Auf der Wacht 9, Kaisersesch) an folgenden Tagen aufgeführt:
    <div class="container">
      <div class="title">
        <%= image_tag('theater/herdmanns/title.jpg', alt: 'Hilfe, die Herdmanns kommen') %>
      </div>
      <div class="box dates">
        <div class="top">
          Termine
        </div>
        <div class="con">
          <table>
            <% @event.dates.each do |date| %>
              <%= content_tag :tr, class: (date.sold_out? ? :disabled : nil) do %>
                <td class="point"></td>
                <td class="day">
                  <span class="line_through"><%= l date.date, format: "%A" %></span>
                  <% if date.sold_out? %><div class="sold_out">ausverkauft</div><% end %>
                </td>
                <td class="date">
                  <span class="line_through"><%= l date.date, format: '%-d. %B' %></span>
                  <div class="line_through time"><%= l date.date, format: "%H.%M Uhr" %></div>
                </td>
              <% end %>
            <% end %>
          </table>
          <p>Einlass jeweils eine Stunde vor Beginn.</p>
        </div>
      </div>
    </div>
    <div class="trenner"></div>
    <div class="hl">
      Ticketvorverkauf
      <div class="small">ab <%= l @event.sale_start, format: '%-d. %B' %></div>
    </div>
    <div class="prices">
      <table class="rounded">
        <% @ticket_types.each do |type| %>
          <tr>
            <td class="price"><%= number_to_currency(type.price) %></td>
            <td><%= type.name %><div class="small"><%= type.info %></div></td>
          </tr>
        <% end %>
      </table>
    </div>
    <% if @event.on_sale? %>
      <%= link_to "Tickets jetzt online bestellen", new_ticketing_order_path(@event.slug), class: "hl order" %>
      <div class="stores">
        Alternativ erhalten Sie Ihre Tickets auch in der Buchhandlung Walgenbach in Kaisersesch oder über unsere Hotline (siehe weiter unten).
      </div>
    <% end %>
    <div class="trenner"></div>
    <div class="hcen hotline">
      <div class="hl">Sie haben Fragen?</div>
      <br />Schauen Sie in unsere <%= link_to "häufig gestellten Fragen", info_path(@event.slug) %> oder rufen Sie uns an:
      <a name="hotline"></a>
      <p>Info-Hotline: <b>(02653) 28 27 09</b> <em class="small">(zum Ortstarif)</em></p>
    </div>
    <div class="trenner"></div>
    <%= render "restaurants" %>
  </div>
<% end %>
