<% title "Vorschau 2019 – Termine" %>
<% include_css "dates" %>

<div class="other-events">
  <p>Termine zu <%= image_tag 'theater/herdmanns/ticket_header.svg', height: 50, valign: 'middle' %> finden Sie <%= link_to 'hier', dates_event_identifier_path(:herdmanns) %>.</p>
  <p>Termine zu <%= image_tag 'theater/sahnemixx/ticket_header.svg', height: 50, valign: 'middle' %> finden Sie <%= link_to 'hier', dates_event_identifier_path(:sahnemixx) %>.</p>
</div>

<h2 class="hcen">Unsere Vorschau für 2019</h2>
<%= image_tag 'misc/preview_2019.jpg' %>
