<% title "Sitzplan bearbeiten" %>
<% include_js "admin/seats" %>
<% include_css "admin/seats" %>
<div class="hl">Sitzplan bearbeiten</div>
<div id="seats">
	<div class="seating" data-update-url="<%= admin_seat_path("") %>" data-update-multiple-url="<%= update_multiple_admin_seats_path %>" data-create-url="<%= admin_seats_path %>">
		<%= render "application/ticketing/seats", seats: @seats, colors: true, numbers: true %>
	</div>
  <div class="edit_seats">
    <%= form_for Ticketing::Seat.new, url: "" do |f| %>
      <div>Sitzplätze bearbeiten</div>
      <div>Nummer: <%= f.text_field :number %></div>
      <div>Block: <%= f.select :block_id, options_from_collection_for_select(@blocks, :id, :name) %></div>
      <div><%= link_to "löschen", "", { :data => { :"confirm-msg" => "Möchten Sie die markierten Sitzplätze wirklich löschen?" } } %></div>
    <% end %>
  </div>
  <div class="new_seat">
    <div>neuen Sitzplatz hinzufügen</div>
    <div>Nummer: <%= text_field_tag :number, 1 %></div>
    <div class="blocks">
      <%= render "application/ticketing/seats", seats: @new_seats, colors: true, numbers: true %>
    </div>
  </div>
	<div class="blocks">
		<div class="hcen">Blöcke</div>
    <div id="blocks">
      <table>
        <%= content_tag_for :tr, @blocks do |block| %>
          <td><div class="ticketing_seat" style="background: <%= block.color %>;"></div></td>
      	  <td class="name"><%= block.name %></td>
          <td><%= block.seats.count %> Sitzplätze</td>
          <td class="actions">
            <%= render "admin_actions", obj: [:admin, block], delete_confirm: "diesen Block", remote_edit: true %>
          </td>
        <% end %>
        <tr>
          <td></td>
          <td></td>
          <td><%= @seats.count %> Sitzplätze</td>
          <td></td>
        </tr>
      </table>
    </div>
    <div class="new">
      <%= link_to "neuer Block", new_admin_ticketing_block_path, id: "new_link", remote: true %>
    </div>
	</div>
</div>