<% title "Sitzplan bearbeiten" %>
<% include_js "admin/seats" %>
<% include_css "admin/seats" %>
<div class="hl">Sitzplan bearbeiten</div>
<div id="seats">
	<div class="seating" data-edit-url="<%= admin_seat_path("") %>">
		<%= render "application/ticketing/seats", :seats => @seats, :colors => true, :numbers => true %>
	</div>
	<div class="actions">
		<div class="blocks">
			<div class="hcen">Blöcke</div>
			<%= div_for @blocks do |block| %>
				<div class="ticketing_seat" style="background: <%= block.color %>;"></div>
				<div class="name"><%= block.name %></div>
			<% end %>
		</div>
		<div class="seats">
			<div class="hcen">Neue Sitzplätze erstellen</div>
			<%= form_for @new_seat, url: admin_seats_path, remote: true do |f| %>
				<table>
					<tr>
						<td>Anzahl:</td>
						<td><%= f.text_field :number, size: 3 %></td>
					</tr>
					<tr>
						<td>Block:</td>
						<td>
							<%= f.collection_select :block_id, @blocks, :id, :name, :prompt => 'Bitte wählen Sie einen Block' %>
						</td>
					</tr>
					<tr>
						<td>Reihe:</td>
						<td><%= f.text_field :row, size: 3 %></td>
					</tr>
				</table>
				<div class="hcen"><%= f.submit "erstellen", disable_with: "..." %></div>
			<% end %>
		</div>
	</div>
</div>