<table class="rounded">
  <%
    ticket_types = event.ticket_types
    ticket_types = ticket_types.except_box_office unless local_assigns[:box_office]
  %>
  <% scopes.each do |scope| %>
    <thead>
      <tr>
        <th colspan="<%= ticket_types.count + 4 %>"><%= scope[:title] %></th>
      </tr>
      <tr>
        <th>Termin</th>
        <% ticket_types.each do |type| %>
          <th><%= type.name %></th>
        <% end %>
        <th colspan="2" class="total first">Gesamt</th>
        <% if local_assigns[:retail].blank? %><th>Umsatz</th><% end %>
      </tr>
    </thead>
    <tbody>
      <% event.dates.each do |date| %>
        <tr class="<%= date.cancelled? ? 'cancelled' : '' %>">
          <td><%= l date.date, format: '%a, %-d. %B' %></td>
          <% ticket_types.each do |type| %>
            <td><%= ((scope[:scope] ||= {})[date.id] ||= {})[type.id] || 0 %></td>
          <% end %>
          <td class="total first" colspan="<%= local_assigns[:total] ? 1 : 2 %>"><%= scope[:scope][date.id][:total] || 0 %></td>
          <% if local_assigns[:total] %>
            <td class="total" title="Auslastung der Aufführung (geblockte Plätze ausgenommen)"><%= scope[:scope][date.id][:percentage] || 0 %> %</td>
          <% end %>
          <% if local_assigns[:retail].blank? %>
            <td class="total"><%= number_to_currency (scope[:scope][date.id][:revenue] || 0) %></td>
          <% end %>
        </tr>
      <% end %>
      <tr class="total">
        <td></td>
        <% ticket_types.each do |type| %>
          <td><%= (scope[:scope][:total] ||= {})[type.id] || 0 %></td>
        <% end %>
        <td class="total first" colspan="<%= local_assigns[:retail].blank? ? 1 : 2 %>"><%= scope[:scope][:total][:total] || 0 %></td>
        <% if local_assigns[:retail].blank? %>
          <% title = local_assigns[:total] ? "Gesamtauslastung" : "Anteil an allen Verkäufen" %>
          <td class="total" title="<%= title %>"><%= scope[:scope][:total][:percentage] || 0 %> %</td>
        <% end %>
        <% if local_assigns[:retail].blank? %>
          <td class="total"><%= number_to_currency (scope[:scope][:total][:revenue] || 0) %></td>
        <% end %>
      </tr>
    </tbody>
  <% end %>
</table>
