<% title "Statistik" %>
<% include_css "ticketing/statistics" %>
<% include_js "ticketing/statistics" %>
<% cache [Ticketing::Ticket.all, Ticketing::Seat.all, Ticketing::Reservation.all] do %>
  <% stats = stats_for_current_event %>
  <div class="hl">Ticket-Statistik</div>
  <div class="stats">
    <div class="box chooser">
      <div class="top">Verkaufszahlen anzeigen: <span class="selected" data-table="total">gesamt</span> | <span data-table="web">online</span> | <span data-table="retail">Vorverkaufsstellen</span> | <span data-table="box_office">Abendkassen</span></div>
    </div>
    <div class="total table">
      <%= render "stats_table", scopes: [{ title: "Gesamt", scope: stats[:total] }], total: true %>
    </div>
    <div class="web table">
      <%= render "stats_table", scopes: [{ title: "Online-Bestellungen", scope: stats[:web] }] %>
    </div>
    <div class="retail table">
      <% (scopes ||= []) << { title: "Vorverkaufsstellen gesamt", scope: stats[:retail][:total] } %>
      <% @stores.each do |store| %>
        <% scopes << { title: store.name, scope: stats[:retail][:stores][store.id] } %>
      <% end %>
      <%= render "stats_table", scopes: scopes %>
    </div>
    <div class="box_office table">
      <% (scopes = []) << { title: "Abendkassen gesamt", scope: stats[:box_office][:total] } %>
      <% @box_offices.each do |box_office| %>
        <% scopes << { title: box_office.name, scope: stats[:box_office][:box_offices][box_office.id] } %>
      <% end %>
      <%= render "stats_table", scopes: scopes %>
    </div>
    <table class="rounded daily_stats">
      <thead>
        <tr>
          <th>Tägliche Verkaufszahlen</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <canvas id="daily_stats" height="300" data-chart-data-path="<%= ticketing_statistics_chart_data_path %>"></canvas>
            <div class="hcen key">Legende: <span class="total">gesamt</span> | <span class="web">online</span> | <span class="retail">Vorverkaufsstellen</span></div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
<% end %>
<% cache Ticketing::Seat.all do %>
  <div class="hl">Sitzauslastung</div>
  <% @dates.each do |date| %>
    <% @date = date %>
    <div class="box">
      <div class="top"><%= l date.date, format: "%A, %d. %B, %H:%M" %></div>
      <%= render "application/ticketing/seating", options: { data: { date: date.id, additional_path: ticketing_statistics_seats_path } } %>
    </div>
  <% end %>
<% end if @event.seating.bound_to_seats? %>
