<% title "Statistik" %>
<% include_css "ticketing/statistics" %>
<% include_js_pack "ticketing/statistics" %>

<% cache [Ticketing::Ticket.all, Ticketing::Seat.all, Ticketing::Reservation.all] do %>
  <div class="hl">Ticket-Statistik</div>
  <div class="stats">
    <div class="box chooser">
      <div class="top">Verkaufszahlen anzeigen: <span class="selected" data-table="total">gesamt</span> | <span data-table="web">online</span> | <span data-table="retail">Vorverkaufsstellen</span> | <span data-table="box_office">Abendkassen</span></div>
    </div>
    <% @events.each do |event| %>
      <% stats = stats_for_event(event) %>
      <h4 class="hcen"><%= event.name %></h4>
      <div class="total table">
        <%= render "stats_table", scopes: [{ title: "Gesamt", scope: stats[:total] }], event: event, total: true %>
      </div>
      <div class="web table">
        <%= render "stats_table", scopes: [{ title: "Online-Bestellungen", scope: stats[:web] }], event: event %>
      </div>
      <div class="retail table">
        <% (scopes ||= []) << { title: "Vorverkaufsstellen gesamt", scope: stats[:retail][:total] } %>
        <% @stores.each do |store| %>
          <% scopes << { title: store.name, scope: stats[:retail][:stores][store.id] } %>
        <% end %>
        <%= render "stats_table", scopes: scopes, event: event %>
      </div>
      <div class="box_office table">
        <% (scopes = []) << { title: "Abendkassen gesamt", scope: stats[:box_office][:total] } %>
        <% @box_offices.each do |box_office| %>
          <% scopes << { title: box_office.name, scope: stats[:box_office][:box_offices][box_office.id] } %>
        <% end %>
        <%= render "stats_table", scopes: scopes, event: event, box_office: true %>
      </div>
    <% end %>
    <div class="trenner"></div>
    <table class="rounded daily_stats">
      <thead>
        <tr>
          <th>Tägliche Verkaufszahlen</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <canvas id="daily_stats" height="300" data-chart-data-path="<%= ticketing_statistics_chart_data_path %>"></canvas>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
<% end %>
<% cache Ticketing::Seat.all do %>
  <div class="hl">Sitzauslastung</div>
  <% @events.each do |event| %>
    <% next unless event.seating.plan? %>
    <h4 class="hcen"><%= event.name %></h4>
    <% event.dates.each do |date| %>
      <div class="box">
        <div class="top"><%= l date.date, format: "%A, %d. %B, %H:%M" %></div>
        <%= render "application/ticketing/seating", event: event, seats_path: ticketing_statistics_seats_path(date), class: %i[standalone availability] %>
      </div>
    <% end %>
  <% end %>
<% end %>
