<% title "Statistik" %>
<% include_css "ticketing/statistics" %>
<% cache [Ticketing::Ticket.all, current_user.store, @transactions] do %>
  <div class="stats">
    <div class="hl">Ticket-Statistik</div>
    <% @events.each do |event| %>
      <% stats = stats_for_event(event) %>
      <h4 class="hcen"><%= event.name %></h4>
      <div class="table active">
        <%= render "stats_table", scopes: [{ title: "Statistik für Ihre Vorverkaufsstelle", scope: stats_for_event(event)[:retail][:stores][current_user.store.id] }], event: event, retail: true %>
      </div>
    <% end %>
    <div class="hl">Kassenstand</div>
    <table class="rounded billing-log">
      <thead>
        <tr>
          <th>Datum</th>
          <th>Anmerkung</th>
          <th>Bestellung</th>
          <th>Betrag</th>
        </tr>
      </thead>
      <tbody class="log">
        <% @transactions.each do |transaction| %>
          <tr>
            <td class="date"><%= l(transaction.created_at, format: :medium) %></td>
            <td><%= translate_billing_transaction(transaction) %></td>
            <td>
              <% participant = transaction.participant ? transaction.participant.billable : nil %>
              <% if participant.is_a?(Ticketing::Order) %>
                <%= link_to "##{participant.number}", ticketing_order_path(participant) %>
              <% end %>
            </td>
            <td class="amount <%= -transaction.amount < 0 ? "negative" : "positive" %>"><%= format_billing_amount(-transaction.amount) %></td>
          </tr>
        <% end %>
        <tr class="total">
          <td></td>
          <td colspan="2">Saldo</td>
          <td class="amount <%= !current_user.store.billing_account.outstanding? ? "negative" : "positive" %>">
            <%= format_billing_amount(-current_user.store.billing_account.balance) %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
<% end %>
