<% title (title ||= "Tickets bestellen") %>
<% include_css "orders" %>
<% include_js "orders" %>
<div class="hl">
	<%= title %>
  <%= content_tag :div, class: :retail, data: { id: @store.id } do %>
    Vorverkaufsstelle: <%= @store.name %>
  <% end if @store %>
</div>
<div class="progress">
	<div class="step bar"></div>
	<div class="step current date">Termin</div>
	<div class="step seats">Sitzpl채tze</div>
	<div class="step address">Adresse</div>
	<div class="step payment">Bezahlen</div>
	<div class="step confirm">Best채tigen</div>
</div>
<div class="messages warning expiration">
	<div class="icon"></div>
  <ul>
	  <li class="plural_text">Bei keiner weiteren Aktion l채uft Ihre Sitzung in <b class="number"><span></span></b> Sekunde<span class="plural">n</span> ab.</li>
  </ul>
</div>
<%= content_tag :div, class: ["stepBox", @type], data: { type: @type, "order-path" => ticketing_order_path(":id") } do %>
  <div class="modalAlert">
		<div class="messages alert">
			<div class="icon"></div>
      <ul>
			  <li></li>
        <li><%= link_to "Bestellvorgang neu starten", request.path, class: :btn %></li>
		  </ul>
	  </div>
  </div>
  <%= yield :steps %>
<% end %>
<div class="btns">
	<div class="btn prev disabled">zur체ck</div>
	<div class="btn next disabled">
		<span class="action">weiter</span>
	</div>
</div>