<% title "Tickets bestellen" %>
<% include_css "orders" %>
<% include_js "orders" %>
<% content_for(:head) do %>
  <%= javascript_include_tag "/node/socket.io.js" %>
<% end %>
<div class="hl">
	Tickets bestellen
  <%= content_tag :div, class: :retail, data: { id: @store.id } do %>
    Vorverkaufsstelle: <%= @store.name %>
  <% end if @store %>
</div>
<div class="progress">
	<div class="step bar"></div>
	<div class="step current date">Termin</div>
	<div class="step seats">Sitzpl채tze</div>
	<div class="step address">Adresse</div>
	<div class="step payment">Bezahlen</div>
	<div class="step confirm">Best채tigen</div>
</div>
<div class="messages warning expiration">
	<div class="icon"></div>
  <ul>
	  <li>Bei keiner weiteren Aktion l채uft Ihre Sitzung in <span></span> Sekunden ab.</li>
  </ul>
</div>
<div class="stepBox">
  <div class="modal_alert">
		<div class="messages alert">
			<div class="icon"></div>
      <ul>
			  <li></li>
        <li><%= link_to "Bestellvorgang neu starten", request.path, class: :btn %></li>
		  </ul>
	  </div>
  </div>
  <%= yield :steps %>
</div>
<div class="btns">
	<div class="btn prev disabled">zur체ck</div>
	<div class="btn next disabled">
		<span class="action">weiter</span>
		<span class="spinner"><img src="/assets/orders/loading.gif" alt="Bitte warten" /></span>
	</div>
</div>