<div class="stepCon payment">
  <%= form_for :payment do |f| %>
		<table class="inner rounded">
      <thead>
        <tr>
          <th colspan="2">Zahlungsmethode</th>
        </tr>
      </thead>
      <tbody>
        <% methods.each do |method| %>
          <% method_id = "method#{method[:name].capitalize}".to_sym %>
    			<tr>
    				<td class="radio"><input type="radio" name="method" value="<%= method[:name] %>" id="<%= method_id %>" /></td>
    				<td>
              <%= label_tag method_id do %><b><%= method[:human_name] %></b><% end %>
              <div class="small"><%= label_tag method_id, method[:desc] %></div>
    			  </td>
    			</tr>
        <% end %>
      </tbody>
		</table>
		<div class="charge inner">
			<table class="form rounded">
        <thead>
          <tr>
            <th colspan="2">Ihre Bankdaten</th>
          </tr>
        </thead>
        <tbody>
          <%= render :layout => "field", :locals => { :name => "Kontoinhaber" } do %>
            <%= f.text_field :name %>
          <% end %>
          <%= render :layout => "field", :locals => { :name => "Kontonummer" } do %>
            <%= f.text_field :number %>
          <% end %>
          <%= render :layout => "field", :locals => { :name => "BLZ" } do %>
            <%= f.text_field :blz %>
          <% end %>
          <%= render :layout => "field", :locals => { :name => "Name der Bank" } do %>
            <%= f.text_field :bank %>
          <% end %>
        </tbody>
			</table>
			<div class="small note">
				Ihre Bankdaten werden nach erfolgter Zahlung aus unserem System vollständig gelöscht.
			</div>
		</div>
  <% end %>
</div>