<% content_for :finish do %>
  <% cache [:new_retail_order, :finish, @event.id] do %>
    <div class="total">Gesamtbetrag: <span></span> €</div>
    <div>
    	Ihre Tickets können Sie mit einem Klick auf folgendes Symbol herunterladen:
      <p><%= link_to "#", class: "printable_link", target: "_blank" do %><%= image_tag "misc/files/pdf.png", alt: "Tickets herunterladen" %><% end %></p>
      <p><%= link_to "Neue Bestellung", request.path %></p>
    </div>
  <% end %>
<% end %>
<%= content_for :steps do %>
  <% cache [:new_retail_order, :steps, @event.id] do %>
    <%= render "date" %>
  	<%= render "seats" %>
  	<div class="stepCon confirm">
  		<div class="note">Bitte kontrollieren Sie Ihre Bestellung noch einmal und klicken anschließend auf <em>bestellen</em>.</div>
      <%= render "confirm_tickets" %>
  	</div>
    <%= render "finish" %>
  <% end %>
<% end %>
<%= render "framework", cache_name: [:new_retail_order, @store.id] %>