<% title "Ihre Bestellung ##{@order.number}" %>
<% include_css "ticketing/orders" %>
<% include_js "ticketing/seats" %>
<div class="hl">Ihre Bestellung #<%= @order.number %></div>
<% if @authenticated %>
  <table class="rounded entries details">
    <thead>
      <tr>
        <th colspan="6">Ihre Tickets</th>
      </tr>
      <tr>
        <th>Nummer</th>
        <th>Termin</th>
        <th>Kategorie</th>
        <th>Sitz</th>
        <% if show_wallet? %><th></th><% end %>
      </tr>
    </thead>
    <tbody>
      <% @order.tickets.each do |ticket| %>
        <% classes = [:cancelled] if ticket.cancelled? %>
        <%= content_tag_for :tr, ticket, class: classes do %>
          <td class="number">
            <%= ticket.number %>
          </td>
          <td class="date">
            „<%= ticket.event.name %>“<br>
            <%= l ticket.date.date, format: '%-d. %B %Y, %H.%M Uhr' %>
          </td>
          <td class="name">
            <%= ticket.type.name %><br>
            <%= number_to_currency ticket.price %>
          </td>
          <% if ticket.seat.present? %>
            <td><%= ticket.seat.full_number %></td>
          <% else %>
            <td>Freie Platzwahl</td>
          <% end %>
          <% if show_wallet? %>
            <td class="wallet">
              <%= link_to order_overview_wallet_path(ticket.signed_info) do %>
                <%= image_tag("add_to_wallet.png") %>
              <% end if !ticket.cancelled? %>
            </td>
          <% end %>
        <% end %>
      <% end %>
    </tbody>
    <% if @order.tickets.first.seat.present? %>
      <thead>
        <tr>
          <th colspan="<%= show_wallet? ? 5 : 4 %>">Sitzplätze</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan="<%= show_wallet? ? 5 : 4 %>">
            <%= render "application/ticketing/seating", event: @order.event, seats_path: order_overview_seats_path(params[:signed_info]), class: %i[standalone chosen] %>
          </td>
        </tr>
      </tbody>
    <% end %>
  </table>
  <p class="hcen">
    Bei Umbuchungs- oder Stornierungswünschen rufen Sie uns gerne an:<br>
    <b>(02653) 28 27 09</b><br>
    oder kontaktieren Sie uns per Mail:<br>
    <a href="mailto:info@theater-kaisersesch.de">info@theater-kaisersesch.de</a>
  </p>
<% else %>
  <p>
    Um zu Ihrer Bestellübersicht zu gelangen, geben Sie bitte die E-Mail-Adresse ein, mit der diese Bestellung aufgegeben wurde.
  </p>
  <%= form_tag order_overview_path(params[:signed_info]), method: :post, class: :hcen do %>
    E-Mail-Adresse: <%= text_field_tag :email %>
    <p>
      <%= submit_tag :absenden %>
    </p>
  <% end %>
<% end %>
