<% title "Tickets bestellen" %>
<% include_css "tickets" %>
<% include_js "tickets" %>
<% content_for(:head) do %>
   <%= javascript_include_tag "/node/socket.io.js" %>
<% end %>
<div class="secure">
	<span><img src="/assets/tickets/secure.png" alt="" /> Ihre Bestellung wird über eine gesicherte Verbindung ausgeführt.</span>
</div>	
<div class="hl">
	Karten bestellen
</div>
<div class="progress">
	<div class="step bar"></div>
	<div class="step current">Termin</div>
	<div class="step">Sitzplätze</div>
	<div class="step">Adresse</div>
	<div class="step">Bezahlen</div>
	<div class="step">Bestätigen</div>
</div>
<div class="stepBox">
  <div class="expiration">Bei keiner weiteren Aktion läuft Ihre Sitzung in <span></span> Sekunden ab.</div>
	<div class="stepCon date">
		<div>Bitte wählen Sie Ihre gewünschte Aufführung:</div>
		<ul class="inner">
			<% @event.dates.each do |date| %>
				<%= content_tag_for(:li, date, :data => { :id => date.id }) do %>
					<%= l date.date, format: "%A, den %d. %B um %H.%M" %> Uhr
				<% end %>
			<% end %>
		</ul>
		<div class="number">
			<div>Bitte wählen Sie die gewünschte Anzahl an Karten:</div>
			<table class="inner rTable">
				<% @ticket_types.each do |type| %>
					<%= content_tag_for(:tr, type, :data => { :id => type.id, :price => type.price }) do %>
						<td class="number">
							<%= select_tag(:number, options_for_select(0..15)) %>
						</td>
						<td class="type">
							<%= type.name %>
							<div class="small"><%= type.info %></div>
						</td>
						<td class="single">je <%= number_to_currency(type.price) %></td>
						<td class="total"><span>0</span> €</td>
					<% end %>
				<% end %>
				<tr class="total">
					<td colspan="3">Gesamt</td>
					<td id="date_all_total" class="total"><span>0</span> €</td>
				</tr>
			</table>
		</div>
	</div>
	<div class="stepCon seats">
		<div>Bitte wählen Sie Ihre gewünschten Sitzplätze.</div>
		<div class="seating noPadding">
			<% @seats.each do |seat| %>
				<%= div_for(seat, :data => { :id => seat.id }, :style => "left: " + (seat.position_x).to_s + "%; top: " + (seat.position_y).to_s + "%;") do %>
				<% end %>
			<% end %>
		</div>
		<div class="hcen">Legende: bla</div>
	</div>
	<div class="stepCon address">
		<div>Bitte füllen Sie die folgenden Felder entsprechend aus:</div>
		<%= form_for :address do |f| %>
   		<table class="inner form">
            <%= render :layout => "field", :locals => { :name => "Anrede" } do %>
               <%= f.select(:gender, options_for_select([["Frau", 0], ["Herr", 1]])) %>
            <% end %>
            <tr class="spacer"></tr>
            <%= render :layout => "field", :locals => { :name => "Vorname" } do %>
               <%= f.text_field :first_name, :class => "field" %>
            <% end %>
            <tr class="spacer"></tr>
            <%= render :layout => "field", :locals => { :name => "Nachname" } do %>
               <%= f.text_field :last_name, :class => "field" %>
            <% end %>
   		</table>
   		<div class="inner newSection"></div>
   		<table class="inner form">
            <%= render :layout => "field", :locals => { :name => "PLZ" } do %>
               <%= f.text_field :plz, :class => "field" %>
            <% end %>
            <tr class="spacer"></tr>
            <%= render :layout => "field", :locals => { :name => "Telefon" } do %>
               <%= f.text_field :phone, :class => "field" %>
            <% end %>
   		</table>
   		<div class="inner newSection"></div>
   		<table class="inner form">
            <%= render :layout => "field", :locals => { :name => "e-mail-Adresse" } do %>
               <%= f.text_field :email, :class => "field" %>
               <div class="small">Bitte achten Sie auf die Richtigkeit Ihrer e-mail-Adresse, da an sie später Ihre Karten geschickt werden!</div>
            <% end %>
   		</table>
		<% end %>
		<div class="small">
			Diese Daten sind nur für eventuelle Rückfragen erforderlich und werden nach der Aufführung vollständig aus unserem System gelöscht.
		</div>
	</div>
	<div class="stepCon payment">
		<div>Bitte wählen Sie eine der folgenden Zahlungsmethoden aus:</div>
    <%= form_for :payment do |f| %>
  		<table class="inner">
  			<tr>
  				<td class="radio"><input type="radio" name="method" value="charge" /></td>
  				<td>
  					<b>Lastschrift</b>
  					<div class="small">Schnell und bequem, Sie erhalten Ihre Karten sofort nach der Bestellung!</div>
  				</td>
  			</tr>
  			<tr>
  				<td class="radio"><input type="radio" name="method" value="transfer" /></td>
  				<td>
  					<b>Vorkasse per Überweisung</b>
  					<div class="small">Sie erhalten Ihre Karten nach Zahlungseingang.</div>
  				</td>
  			</tr>
  		</table>
  		<div class="charge">
  			<div>
  				Bitte geben für das Lastschriftverfahren Ihre Bankdaten an:
  			</div>
  			<table class="inner form">
          <%= render :layout => "field", :locals => { :name => "Kontoinhaber" } do %>
            <%= f.text_field :name %>
          <% end %>
          <tr class="spacer"></tr>
          <%= render :layout => "field", :locals => { :name => "Kontonummer" } do %>
            <%= f.text_field :number %>
          <% end %>
          <tr class="spacer"></tr>
          <%= render :layout => "field", :locals => { :name => "BLZ" } do %>
            <%= f.text_field :blz %>
          <% end %>
          <tr class="spacer"></tr>
          <%= render :layout => "field", :locals => { :name => "Name der Bank" } do %>
            <%= f.text_field :bank %>
          <% end %>
  			</table>
  			<div class="small">
  				Ihre Bankdaten werden nach erfolgter Zahlung aus unserem System vollständig gelöscht.
  			</div>
  		</div>
    <% end %>
	</div>
	<div class="stepCon confirm">
		<div>Bitte kontrollieren Sie noch einmal Ihre Bestellung und klicken anschließend auf "bestätigen".</div>
		<table class="inner rTable">
			<tr>
				<td>Name:</td>
				<td><span class="firstname"></span> <span class="lastname"></span></td>
			</tr>
			<tr>
				<td>Telefonnummer:</td>
				<td class="fon"></td>
			</tr>
			<tr>
				<td>e-mail-Adresse:</td>
				<td class="email"></td>
			</tr>
		</table>
		<div class="inner">
			Karten für <span class="date"></span>:
			<table class="rTable">
				<tr class="kids">
					<td><span class="number"></span> Ermäßigt</td>
					<td class="single">je <span></span> €</td>
					<td class="total"><span></span> €</td>
				</tr>
				<tr class="adults">
					<td><span class="number"></span> Erwachsene</td>
					<td class="single">je <span></span> €</td>
					<td class="total"><span></span> €</td>
				</tr>
				<tr class="total">
					<td colspan="2">Gesamt</td>
					<td class="total"><span></span> €</td>
				</tr>
			</table>
		</div>
		<div class="payment inner">
			<div class="transfer">
				Bezahlung per Überweisung. Unsere Kontodaten werden Ihnen nach der Bestellung angezeigt.
			</div>
			<div class="charge">
				Bezahlung per Lastschrift von folgendem Konto:
				<table class="rTable">
					<tr>
						<td>Kontoinhaber:</td>
						<td class="name"></td>
					</tr>
					<tr>
						<td>Kontonummer:</td>
						<td class="number"></td>
					</tr>
					<tr>
						<td>BLZ:</td>
						<td class="blz"></td>
					</tr>
					<tr>
						<td>Name der Bank:</td>
						<td class="bank"></td>
					</tr>
				</table>
			</div>
		</div>
		<div class="accept">
			<input type="checkbox" name="accept" /> Ich akzeptiere die <a href="/agb" target="_blank">AGB</a> der Freilichtbühne am schiefen Turm e.V.
		</div>
	</div>
	<div class="stepCon finish">
		<div class="hl">
			Vielen Dank für Ihre Bestellung!
		</div>
		<div class="payment">
			<div class="transfer inner">
				Bitte überweisen Sie den Betrag von <b><span class="total"></span> €</b> auf folgendes Konto:
				<table class="rTable">
					<tr>
						<td>Kontoinhaber:</td>
						<td>Freilichtbühne am schiefen Turm e.V.</td>
					</tr>
					<tr>
						<td>Kontonummer:</td>
						<td>178167</td>
					</tr>
					<tr>
						<td>BLZ:</td>
						<td>57069144</td>
					</tr>
					<tr>
						<td>Bankname:</td>
						<td>Raiffeisenbank Kaisersesch</td>
					</tr>
					<tr>
						<td>Verwendungszweck:</td>
						<td>ON<span class="sId"></span></td>
					</tr>
				</table>
			</div>
			<div class="charge">
				Ihre Karten werden in Kürze an Ihre e-mail Adresse versandt.
			</div>
		</div>
		<div>
			Alle Informationen rund um Ihre Bestellung erhalten Sie ebenfalls noch einmal per e-mail.
		</div>
	</div>
</div>
<div class="btns">
	<div class="btn prev disabled">zurück</div>
	<div class="btn next disabled">
		<span class="action">weiter</span>
		<span class="spinner"><img src="/assets/tickets/loading.gif" alt="Bitte warten" /></span>
	</div>
</div>