<% include_css "index" %>
<% include_js "index" %>
<div class="index">
  <% if File.exists? @alert_file %>
    <% cache [:alert, File.mtime(@alert_file).to_i] do %>
      <% info = JSON.parse(File.read(@alert_file), symbolize_names: true) %>
      <div class="alert">
        <div><%= info[:title] %></div>
        <%= info[:text].html_safe %>
      </div>
    <% end %>
  <% end %>
  <% cache @event.on_sale? do %>
    <div class="teaser">
      <div class="hl">Unser Sommernachtstheater 2018</div>
      <%= link_to theater_sommernachtstraum_path do %>
        <%= image_tag 'theater/sommernachtstraum/title.svg', alt: 'Ein Sommernachtstraum' %>
      <% end %>
      <div class="links">
        Vielen Dank an unser Publikum!
      </div>
    </div>
    <div class="trenner"></div>
    <%= render "newsletter/form" %>
    <div class="partner-lotto">
      <div class="wrap">
        <span class="disclaimer">Mit freundlicher Unterstützung von:</span>
        <div>
          <%= link_to "https://www.lotto-rlp.de", target: "_blank" do %>
            <%= image_tag "misc/partner_lotto.jpg" %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
