<% include_css "index" %>
<% include_js "index" %>
<% file = Rails.root.join("public", "uploads", "index_alert.json") %>
<div class="index">
  <% if File.exists? file %>
    <% cache [:static, :index, :alert, File.mtime(file).to_i] do %>
      <% info = JSON.parse(File.read(file), symbolize_names: true) %>
      <div class="alert">
        <div><%= info[:title] %></div>
        <%= info[:text].html_safe %>
      </div>
    <% end %>
  <% end %>
  <% cache [:static, :index] do %>
    <div class="hcen">
      <div class="hl">Danke für eine tolle Saison!</div>
      <p>
        Unser <b>Sommernachtstheater 2015 „<%= link_to theater_ladykillers_path do %>Ladykillers<% end %>“</b> und unser neues <b>Kinder- und Jugendtheater</b> mit dem Stück <b>„<%= link_to theater_drachenjungfrau_path do %>Die Drachenjungfrau<% end %>“</b> waren ein voller Erfolg.
      </p>
      <p>
        Wir bedanken uns bei unseren Zuschauern und allen, die mitgewirkt haben - sowohl auf als auch hinter der Bühne.
      </p>
    </div>
    <div class="trenner"></div>
    <%= render "newsletter/form" %>
    <div class="partner-lotto">
      <span class="disclaimer">Mit freundlicher Unterstützung von:</span>
      <div>
        <%= link_to "https://www.lotto-rlp.de", target: "_blank" do %>
          <%= image_tag "misc/partner-lotto.jpg" %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
