<% include_css "index" %>
<% include_js "index" %>
<div class="index">
  <% if File.exists? @alert_file %>
    <% cache [:alert, File.mtime(@alert_file).to_i] do %>
      <% info = JSON.parse(File.read(@alert_file), symbolize_names: true) %>
      <div class="alert">
        <div><%= info[:title] %></div>
        <%= info[:text].html_safe %>
      </div>
    <% end %>
  <% end %>
  <%= render 'dates/teaser_dates' %>
  <div class="hcen">
    <%= link_to 'Unsere Vorschau für 2019', dates_path %>
  </div>
  <div class="trenner"></div>
  <div class="teaser hcen">
    <%= image_tag 'theater/sahnemixx/ticket_header.svg' %>
    <h3>19. Oktober 2019<br>in der Sporthalle Kaisersesch</h3>
    <% if @sahnemixx.on_sale? %>
      <p><b><%= link_to 'Tickets jetzt bestellen', new_ticketing_order_path(@sahnemixx.slug) %></b></p>
    <% else %>
      <p>Tickets hier online bestellen ab <%= l @sahnemixx.sale_start, format: '%-d. %B %Y, %H.%M Uhr' %>.</p>
    <% end %>
  </div>
  <div class="trenner"></div>
  <%= render "newsletter/form" %>
  <div class="partner-lotto">
    <div class="wrap">
      <span class="disclaimer">Mit freundlicher Unterstützung von:</span>
      <div>
        <%= link_to "https://www.lotto-rlp.de", target: "_blank" do %>
          <%= image_tag "misc/partner_lotto.jpg" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
