<% include_css "index" %>
<% include_js "index" %>
<% on_sale = Ticketing::Event.current.on_sale? %>
<% file = Rails.root.join("public", "uploads", "index_alert.json") %>
<div class="index">
  <% if File.exists? file %>
    <% cache [:alert, File.mtime(file).to_i] do %>
      <% info = JSON.parse(File.read(file), symbolize_names: true) %>
      <div class="alert">
        <div><%= info[:title] %></div>
        <%= info[:text].html_safe %>
      </div>
    <% end %>
  <% end %>
  <% cache on_sale do %>
    <div class="teaser">
      <div class="hl">Unser Sommernachtstheater 2018</div>
      <%= image_tag 'theater/sommernachtstraum/title.svg', alt: 'Ein Sommernachtstraum' %>
      <div class="links">
        <%= link_to "Über das Stück", theater_sommernachtstraum_path %> |
        <%= link_to "Termine", dates_path %>
        <% if on_sale %> | <%= link_to "Tickets bestellen", new_ticketing_order_path %><% end %>
      </div>
    </div>
    <div class="trenner"></div>
    <%= render "newsletter/form" %>
    <div class="partner-lotto">
      <div class="wrap">
        <span class="disclaimer">Mit freundlicher Unterstützung von:</span>
        <div>
          <%= link_to "https://www.lotto-rlp.de", target: "_blank" do %>
            <%= image_tag "misc/partner_lotto.jpg" %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
