<% include_css "index" %>
<% include_js "index" %>
<div class="teaser don_camillo">
  <div><%= link_to "Termine", dates_path %> | <%= link_to "Tickets bestellen", new_ticketing_order_path %></div>
</div>
<div class="trenner"></div>
<%= render "newsletter/form" %>
<div class="partner-lotto">
  <span class="disclaimer">Mit freundlicher Unterstützung von:</span>
  <div>
    <%= link_to "https://www.lotto-rlp.de", target: "_blank" do %>
      <%= image_tag "misc/partner-lotto.png" %>
    <% end %>
  </div>
</div>