<% include_css "index" %>
<% include_js "index" %>
<% file = Rails.root.join("public", "uploads", "index_alert.json") %>
<div class="index">
  <% if File.exists? file %>
    <% cache [:static, :index, :alert, File.mtime(file).to_i] do %>
      <% info = JSON.parse(File.read(file), symbolize_names: true) %>
      <div class="alert">
        <div><%= info[:title] %></div>
        <%= info[:text].html_safe %>
      </div>
    <% end %>
  <% end %>
  <% cache [:static, :index] do %>
    <div class="hcen">
      <div class="hl">Es geht wieder los!</div>
      <p>
        Die Vorbereitungen für unser Sommernachtstheater 2016 <b>„Der Besuch der alten Dame“</b> laufen bereits auf Hochtouren. Wir proben jeden Montag und Mittwoch, schauen Sie gerne einmal vorbei.
      </p>
      <p>
        Auch die <%= link_to "Aufführungstermine", dates_path %> stehen bereits fest. Tickets erhalten Sie ab 5. Juni.
      </p>
    </div>
    <div class="trenner"></div>
    <%= render "newsletter/form" %>
    <div class="partner-lotto">
      <span class="disclaimer">Mit freundlicher Unterstützung von:</span>
      <div>
        <%= link_to "https://www.lotto-rlp.de", target: "_blank" do %>
          <%= image_tag "misc/partner-lotto.jpg" %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
