<% include_css "index" %>
<% include_js "index" %>
		<div class="hl">
			Herzlich willkommen!
		</div>
		<div class="trenner"></div>
		<div class="teaser hcen">
			<%= link_to dates_path do %>
				<%= render "dates/jedermann_banner" %>
			<% end %>
		</div>
		<div class="trenner"></div>
		<div class="teaser montevideo2013">
			<%= link_to "Gastspiel in Bad Bertrich", dates_montevideo_path %>
		</div>
		<div class="ad">
			<span class="disclaimer">Mit freundlicher Unterstützung von:</span>
			<div>
            <%= link_to "https://www.lotto-rlp.de", :target => "_blank" do %>
               <%= image_tag "misc/ad-lotto.png" %>
            <% end %>
			</div>
		</div>