<% include_css "index" %>
<% include_js "index" %>
<div class="index">
  <% if File.exists? @alert_file %>
    <% cache [:alert, File.mtime(@alert_file).to_i] do %>
      <% info = JSON.parse(File.read(@alert_file), symbolize_names: true) %>
      <div class="alert">
        <div><%= info[:title] %></div>
        <%= info[:text].html_safe %>
      </div>
    <% end %>
  <% end %>
  <div class="teaser herdmanns">
    <%= image_tag 'theater/herdmanns/title.jpg' %>
    <div class="links">
      <%= link_to 'Termine', dates_event_identifier_path(:herdmanns) %> |
      <%= link_to 'Tickets bestellen', new_ticketing_order_identifier_path(:herdmanns) %>
    </div>
  </div>
  <div class="trenner"></div>
  <div class="teaser sahnemixx">
    <%= image_tag 'theater/sahnemixx/ticket_header.svg' %>
    <div class="links">
      <%= link_to 'Termine', dates_event_identifier_path(:sahnemixx) %> |
      <%= link_to 'Tickets bestellen', new_ticketing_order_identifier_path(:sahnemixx) %>
    </div>
  </div>
  <div class="trenner"></div>
  <%= render "newsletter/form" %>
  <div class="partner-lotto">
    <div class="wrap">
      <span class="disclaimer">Mit freundlicher Unterstützung von:</span>
      <div>
        <%= link_to "https://www.lotto-rlp.de", target: "_blank" do %>
          <%= image_tag "misc/partner_lotto.jpg" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
