<% include_css "index" %>
<% include_js "index" %>
    <div class="teaser jedermann">
      <div><%= link_to "Über das Stück", theater_jedermann_path %> | <%= link_to "Termine", dates_path %> | <%= link_to "Tickets bestellen", new_order_path %></div>
    </div>
    <div class="ad">
      <span class="disclaimer">Mit freundlicher Unterstützung von:</span>
      <div>
        <%= link_to "https://www.lotto-rlp.de", target: "_blank" do %>
          <%= image_tag "misc/ad-lotto.png" %>
        <% end %>
      </div>
    </div>