<% include_css "index" %>
<% include_js "index" %>
<% on_sale = Ticketing::Event.current.on_sale? %>
<% file = Rails.root.join("public", "uploads", "index_alert.json") %>
<div class="index">
  <% if File.exists? file %>
    <% cache [:static, :index, :alert, File.mtime(file).to_i] do %>
      <% info = JSON.parse(File.read(file), symbolize_names: true) %>
      <div class="alert">
        <div><%= info[:title] %></div>
        <%= info[:text].html_safe %>
      </div>
    <% end %>
  <% end %>
  <% cache [:static, :index, on_sale] do %>
    <%= render "dates/teaser_dates" %>
    <div class="trenner"></div>
    <%= render "newsletter/form" %>
    <div class="partner-lotto">
      <span class="disclaimer">Mit freundlicher Unterstützung von:</span>
      <div>
        <%= link_to "https://www.lotto-rlp.de", target: "_blank" do %>
          <%= image_tag "misc/partner-lotto.jpg" %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
