<% include_css "index" %>
<% include_js "index" %>
<% event = Ticketing::Event.current %>
<% cache [:static, :index, event, event.sold_out?] do %>
  <div class="teaser don_camillo">
    <% if event.sold_out? %>
      <div class="highlight sold_out">ausverkauft</div>
    <% else %>
      <div class="highlight addition">Zusatzaufführung!</div>
    <% end %>
    <div class="links"><%= link_to "Über das Stück", theater_don_camillo_path %> | <%= link_to "Termine", dates_path %><% if !event.sold_out? %> | <%= link_to "Tickets bestellen", new_ticketing_order_path %><% end %></div>
  </div>
  <div class="trenner"></div>
  <%= render "newsletter/form" %>
  <div class="partner-lotto">
    <span class="disclaimer">Mit freundlicher Unterstützung von:</span>
    <div>
      <%= link_to "https://www.lotto-rlp.de", target: "_blank" do %>
        <%= image_tag "misc/partner-lotto.png" %>
      <% end %>
    </div>
  </div>
<% end %>