<table id="ticketsTable">
  <tr class="top">
    <td>Veranstaltung</td>
    <td>Sitz</td>
    <td>Kategorie</td>
    <td class="amount">Preis</td>
  </tr>
  <% @tickets.each do |ticket| %>
    <tr>
      <td>
        „<%= ticket.event.name %>“<br>
        <%= l ticket.date.date, format: '%A, den %-d. %B %Y um %H.%M Uhr' %>
      </td>
      <% if ticket.seat.present? %>
        <td><%= ticket.seat.full_number %></td>
      <% else %>
        <td>Freie Platzwahl</td>
      <% end %>
      <td><%= ticket.type.name %></td>
      <td class="amount"><%= number_to_currency(ticket.price) %></td>
    </tr>
  <% end %>
  <tr class="total">
    <td colspan="3">Gesamt</td>
    <td colspan="1" class="amount"><%= number_to_currency(@order.total) %></td>
  </tr>
</table>
<% if attach_tickets? && !(hide_notes ||= false) %>
  <table style="background: #f5f5f5;" cellspacing="7" align="center">
    <tr>
      <td>
        <div class="hl">Hinweise zu Ihren Tickets</div>
        <p>Sie finden Ihre Tickets als PDF-Dokument im Anhang dieser E-Mail. Diese können Sie ausdrucken und an der gestrichelten Linie auseinanderschneiden, um sie schließlich am Abend der Aufführung direkt an der Einlasskontrolle vorzeigen zu können.</p>
        <p>Sollten Sie keine Möglichkeit zum Drucken haben, erhalten Sie Ihre Tickets unter Vorlage Ihrer Bestellnummer <b><%= @order.number %></b> an der Abendkasse. Alternativ können Sie Ihre Tickets natürlich gerne auch auf Ihrem Smartphone vorzeigen.</p>
      </td>
    </tr>
  </table>
  <p class="hcen">
    <%= link_to overview_url do %>
      <%= attached_image_tag('add_to_wallet.png', height: 40, alt: 'Zu Apple Wallet hinzufügen') %>
    <% end %>
  </p>
  <p class="hcen" style="margin-bottom: 15px;">
    <%= link_to "Tickets umbuchen oder stornieren", overview_url %>
  </p>
<% end %>
