vielen Dank für Ihre Bestellung <%= render "order_number" %>!
<%= render "tickets" %>
<p>
  <% if @order.charge? %>
    Der Betrag wird in den kommenden Tagen per SEPA-Lastschrift von folgendem Konto abgebucht:
    <table>
      <tr>
        <td>Kontoinhaber:</td>
        <td><%= @order.bank_charge.name %></td>
      </tr>
      <tr>
        <td>IBAN:</td>
        <td><%= @order.bank_charge.iban %></td>
      </tr>
      <tr>
        <td>BIC:</td>
        <td><%= @order.bank_charge.bic %></td>
      </tr>
      <tr>
        <td>Ihre Mandatsreferenznummer:</td>
        <td><%= @order.bank_charge.mandate_id %></td>
      </tr>
      <tr>
        <td>Unsere Gläubiger-ID:</td>
        <td>DE21ZZZ00001271843</td>
      </tr>
    </table>
  <% elsif !@order.paid %>
    <% if @order.transfer? %>
      Bitte überweisen Sie den Betrag von <b><%= number_to_currency(@order.total) %></b> auf folgendes Konto:
      <%= render "bank_details" %>
      <p>Sie erhalten Ihre Tickets per Mail sofort nach Zahlungsgeingang.</p>
    <% elsif @order.cash? %>
      <p>Sie erhalten Ihre Tickets nach Barzahlung an der Abendkasse.</p>
    <% end %>
  <% end %>
</p>
<% if @order.paid %>
  <p class="signature">Wir wünschen Ihnen viel Spaß bei der Aufführung!</p>
<% end %>