<% title "Ticketkategorie umbuchen" %>
<% include_css "ticketing/orders" %>
<div class="hl">Ticketkategorie umbuchen</div>
<%= form_for @tickets, url: orders_path(:ticketing_order_tickets, @order), method: :patch do |f| %>
  <% params[:ticket_ids].each do |id| %>
    <%= hidden_field_tag "ticket_ids[]", id %>
  <% end %>
  <%= hidden_field_tag :order_id, params[:order_id] %>
  <table class="rounded entries details">
    <thead>
      <tr>
        <th colspan="7">In der Bestellung enthaltene Tickets</th>
      </tr>
      <tr>
        <th>Nummer</th>
        <th>Kategorie</th>
        <th>Aufführung</th>
        <th>Block</th>
        <th>Sitz</th>
      </tr>
    </thead>
    <tbody class="hover">
      <%= content_tag_for :tr, @tickets do |ticket| %>
        <% fields_for "ticketing_tickets[]", ticket do |f| %>
          <td class="number"><%= ticket.number %></td>
          <td class="name">
            <%= f.collection_select :type_id, ticket.event.ticket_types, :id, :name %>
          </td>
          <td class="date"><%= l ticket.date.date, format: "%d. %B" %></td>
          <% if ticket.seat.present? %>
            <td><%= ticket.seat.block.name %></td>
            <td><%= ticket.seat.number %></td>
          <% else %>
            <td colspan="2">Freie Platzwahl</td>
          <% end %>
        <% end %>
      <% end %>
    </tbody>
  </table>
  <div class="submit">
    <%= button_tag "abbrechen", type: :reset, onclick: "history.back()" %>
    <%= button_tag "ändern", data: { confirm: "Möchten Sie die Ticketkategorien wirklich ändern?" } %>
  </div>
<% end %>
