<% title "Tickets umbuchen" %>
<% include_js "ticketing/tickets" %>
<% include_css "ticketing/tickets" %>
<div class="hl">Tickets umbuchen</div>
<%= content_tag :div, class: :transfer, data: { tickets: @tickets.map { |t| t.id }, init_path: orders_path(:init_transfer_ticketing_order_tickets, @order), update_path: orders_path(:finish_transfer_ticketing_order_tickets, @order), order_path: orders_path(:ticketing_order, @order) } do %>
  <%= render "application/ticketing/date_select", dates: @order.event.dates, preselected_date: @order.date %>
  <% if @event.seating.bound_to_seats? %>
    <%= content_tag :p, class: ["reservationGroups"], data: { enable_url: enable_reservation_groups_ticketing_order_path } do %>
      Vorreservierungen freischalten:
      <% @reservation_groups.each do |group| %>
        <span><%= check_box_tag group.id, group.id %> <%= label_tag group.id, group.name %></span>
      <% end %>
    <% end if (@reservation_groups || []).any? %>
    <%= render "application/ticketing/seating", class: [:chooser, :stage], event: @order.event, error_box: true %>
  <% end %>
  <div class="submit">
    <%= button_tag "abbrechen" %>
    <%= button_tag "umbuchen", data: { confirm: "Möchten Sie die Tickets wirklich umbuchen?" } %>
  </div>
<% end %>
