<div class="cast">
  <% (@cast || cast).each do |role| %>
    <% if role[:doubles] %><div class="double"><% end %>
    <div class="row">
      <div class="role">
        <%= role[:name] %>
        <% if role[:desc].present? %>
          <div class="desc"><%= role[:desc] %></div>
        <% end %>
      </div>
      <div class="actor">
        <% if role[:doubles] %>
          <% role[:doubles].each do |double| %>
            <%= double[:name] %><% if double != role[:doubles].last %> / <% end %>
          <% end %>
          <div class="small">Aufführungen anzeigen</div>
        <% else %>
          <% role[:actors].each do |actor| %>
            <%= actor %><% if actor != role[:actors].last %><br /><% end %>
          <% end %>
        <% end %>
      </div>
    </div>
    <% if role[:doubles] %>
        <div class="alt">
          <% role[:doubles].each do |double| %>
            <% dates = (double[:dates]) ? double[:dates] : (double[:date_group] ? @date_groups[double[:date_group]] : nil) %>
            <div class="row">
              <div class="role"><%= double[:name] %></div>
              <div class="actor">
                <% if dates.present? %>
                  <ul>
                    <% dates.each do |date| %>
                      <li><%= l (@dates[date] || @dates.first).date, format: "%d.%m." %></li>
                    <% end %>
                  </ul>
                <% else %>
                  alle Aufführungen
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
