<% include_css "galleries" %>
<div class="box">
  <div class="top">
    Neues Foto erstellen
  </div>
  <div class="con">
    <%= render "errors", :errors => (@photo.errors.delete(:image); @photo.errors) %>
    <%= form_for [@gallery, @photo] do |f| %>
    <table>
      <tr class="name">
        <td>Foto:</td>
        <td>
          <% if !@photo.new_record? %>
            <p><%= image_tag @photo.image.url(:thumb) %></p>
            Foto ersetzen:<br />
          <% end %>
          <%= f.file_field :image %>
        </td>
      </tr>
      <tr>
        <td>Beschreibung:</td>
        <td><%= f.text_field :text %></td>
      </tr>
    </table>
    <div class="hcen submit">
      <%= cond_submit f %>
    </div>
    <% end %>
  </div>
</div>
