<% title "Fotogalerie - Galerie bearbeiten" %>
<% include_js "galleries" %>
<% content_for :head do %>
	<script>
		var updateNumbers = function (sortable) {
			$(sortable).children().each(function (i, child) {
				$(".number", child).html(i+1);
			});
		}
		
		$(function () {
			$("#photos").sortable({
				update: function () {
					$.post($(this).data("sort-url"), $(this).sortable("serialize"));
					updateNumbers(this);
				},
				create: function () {
					updateNumbers(this);
				}
			});
		});
	</script>
<% end %>
<%= render "form" %>
<div class="edit box">
	<div class="top">Reihenfolge der Fotos bearbeiten</div>
	<div class="con">
		<%= render "new_button", :action => "neues Foto", :url => new_gallery_photo_path(@gallery) %>
		<div id="photos" data-sort-url="<%= sort_gallery_photos_path(@gallery) %>">
			<%= div_for @gallery.photos do |photo| %>
				<%= image_tag photo.image.url(:thumb), :alt => photo.text, :class => "move_handle" %>
				<%= link_to "", edit_gallery_photo_path(@gallery, photo), :class => "number", :title => "bearbeiten" %>
				<%= delete_btn [@gallery, photo], "Möchten Sie dieses Foto wirklich löschen?" %>
			<% end %>
		</div>
	</div>
</div>