<% title "Fotogalerie – Galerie bearbeiten" %>

<%= render "form" %>
<% cache @gallery do %>
  <div class="edit box">
    <div class="top">Reihenfolge der Fotos bearbeiten</div>
    <div class="con">
      <%= render "new_button", action: "neues Foto", url: new_gallery_photo_path(@gallery) %>
      <div id="photos">
        <%= div_for @gallery.photos do |photo| %>
          <% cache photo, version: photo.updated_at do %>
            <%= image_tag photo.image.url(:thumb), alt: photo.text %>
            <div class="actionBtns">
              <%= render "admin_actions", obj: [@gallery, photo], delete_confirm: "dieses Foto" %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
