<% title "Fotogalerie - Galerie bearbeiten" %>
<% include_js "galleries" %>
<% content_for :head do %>
	<script>
		var updateNumbers = function (sortable) {
			$(sortable).children().each(function (i, child) {
				$(".number", child).html(i+1);
			});
		}
		
		$(function () {
			$("#photos").sortable({
				update: function () {
					$.post($(this).data("sort-url"), $(this).sortable("serialize"));
					updateNumbers(this);
				},
				create: function () {
					updateNumbers(this);
				}
			});
		});
	</script>
<% end %>
<%= render "form" %>
<div class="edit box">
	<div class="top">Reihenfolge der Fotos bearbeiten</div>
	<div class="con">
		<%= render "new_button", :action => "neues Foto", :url => new_gallery_photo_path(@gallery) %>
		<div id="photos" data-sort-url="<%= sort_gallery_photos_path(@gallery) %>">
			<%= div_for @gallery.photos do |photo| %>
				<%= image_tag photo.image.url(:thumb), :alt => photo.text, :class => "move_handle" %>
				<%= content_tag :div, :class => [:circle, :slide, (photo.slide? ? :isSlide : nil)], :title => t(".is_slide")[photo.slide?]  do %>
					<%= link_to "Diashow", gallery_photo_toggle_slide_path(@gallery, photo), :method => :put%>
				<% end %>
				<div class="circle number"></div>
				<div class="actions">
					<%= render "admin_actions", :obj => [@gallery, photo], :delete_confirm => "dieses Foto" %>
				</div>
			<% end %>
		</div>
	</div>
</div>