<% title "Fotogalerie" %>
<% include_css "galleries" %>

<% cache [@galleries, current_user&.admin?] do %>
<div class="index">
  <div class="hl">Fotogalerie</div>
  <%= render "new_button", :action => "neue Galerie", :admin_required => true %>
  <div id="galleries">
    <%= div_for @galleries, :class => "box" do |gallery| %>
      <% cache [gallery, current_user&.admin?] do %>
        <div class="top">
          <%= gallery.title %>
        </div>
        <div class="con">
          <a href="<%= gallery_path(gallery) %>">
            <% gallery.photos.limit(4).each_with_index do |photo, i| %>
              <% bound = (i == 0) ? "first" : ((i == 3) ? "last" : "") if !current_user&.admin? %>
              <%= image_tag photo.image.url(:thumb), :alt => "", :class => "photo #{bound}" %>
            <% end %>
          </a>
        </div>
        <%= content_tag :div, :class => [:actions, :actionBtns] do %>
          <%= render "admin_actions", :obj => gallery, :delete_confirm => "diese Galerie" %>
        <% end if current_user&.admin? %>
      <% end %>
    <% end %>
  </div>
</div>
<% end %>
