<% title "Fotogalerie" %>
<% include_css "galleries" %>
<% include_js "galleries" %>
<% content_for :head do %>
	<script>
		$(function () {
			$("#galleries").sortable({
				axis: "y",
				handle: ".move_handle",
				update: function () {
					$.post($(this).data("sort-url"), $(this).sortable("serialize"));
				}
			});
		});
	</script>
<% end if @_member.admin? %>
<div class="index">
	<div class="hl">Fotogalerie</div>
	<%= render "new_button", :action => "neue Galerie" %>
	<div id="galleries" data-sort-url="<%= sort_galleries_path %>">
		<%= div_for @galleries, :class => "box" do |gallery| %>
			<div class="top<% if @_member.admin? %> move_handle<% end %>">
				<%= gallery.title %>
			</div>
			<div class="con">
				<a href="<%= gallery_path(gallery) %>">
					<% gallery.photos.limit(4).each_with_index do |photo, i| %>
						<% bound = (i == 0) ? "first" : ((i == 3) ? "last" : "") if !@_member.admin? %>
						<%= image_tag photo.image.url(:thumb), :alt => "", :class => "photo #{bound}" %>
					<% end %>
				</a>
			</div>
			<%= render "admin_actions", :obj => gallery, :delete_confirm => "diese Galerie" %>
		<% end %>
	</div>
</div>
