<% title "Newsletter – #{title}" %>
<% include_css "admin/newsletters" %>
<div class="hl">Newsletter</div>
<%= form_for @newsletter, url: @newsletter.new_record? ? admin_newsletters_path : admin_newsletter_path(@newsletter) do |f| %>
  <div class="box">
    <div class="top">
      <%= title %>
    </div>
    <div class="con">
      <%= render "errors", errors: @newsletter.errors %>
      <table>
        <tr>
          <td>Betreff:</td>
          <td><%= f.text_field :subject, required: true, readonly: @newsletter.sent? %></td>
        </tr>
        <tr>
          <td>Text (Text):</td>
          <td>
            Sehr geehrte Theaterfreundin, sehr geehrter Theaterfreund,
            <p><%= f.text_area :body_text, required: true, readonly: @newsletter.sent? %></p>
            Die Freilichtbühne am schiefen Turm Kaisersesch
          </td>
        </tr>
        <tr>
          <td>
            Text (HTML):<br>
            <p><em>Dieses Feld bitte leer lassen, falls HTML automatisch generiert werden soll.</em></p>
          </td>
          <td>
            Sehr geehrte Theaterfreundin, sehr geehrter Theaterfreund,
            <p><%= f.text_area :body_html, readonly: @newsletter.sent? %></p>
            Die Freilichtbühne am schiefen Turm Kaisersesch
          </td>
        </tr>
        <% if !@newsletter.sent? %>
          <tr>
            <td>Vorschau verschicken an:</td>
            <td>
              <%= email_field_tag :preview_email, nil, placeholder: "e-mail-Adresse" %>
            </td>
          </tr>
        <% end %>
      </table>
      <% if !@newsletter.sent? %>
        <div class="submit">
          <%= cond_submit f %>
        </div>
      <% else %>
        <div class="hcen">Dieser Newsletter wurde bereits verschickt.</div>
      <% end %>
    </div>
  </div>
<% end %>
<% if @newsletter.persisted? %>
  <div class="box">
    <div class="top">
      Hochgeladene Fotos
    </div>
    <div class="con">
      <a name="images"></a>
      <% if @newsletter.images.any? %>
        <table>
          <% @newsletter.images.each do |image| %>
            <tr>
              <td><%= image_tag image.image.url(:thumb) %></td>
              <td>
                <input type="text" value="%%bild_<%= image.id %>%%">
                <p>Dieser Code kann an beliebiger Stelle im Text eingefügt werden und wird beim Versenden durch das entsprechende Foto ersetzt. Das Foto links ist nur eine Vorschau und wird später in der E-Mail größer und im ursprünglichen Format angezeigt.</p>
                <% if !@newsletter.sent? %>
                  <p><%= link_to "Foto löschen", admin_newsletter_image_path(@newsletter, image), method: :delete, data: { confirm: "Möchten Sie dieses Foto wirklich löschen?" } %></p>
                <% end %>
              </td>
            </tr>
          <% end %>
        </table>
      <% else %>
        <em>Zu diesem Newsletter wurden keine Fotos hochgeladen.</em>
      <% end %>
    </div>
  </div>
  <% if !@newsletter.sent? %>
    <div class="box">
      <div class="top">
        Neues Foto hochladen
      </div>
      <div class="con">
        <%= form_for Newsletter::Image.new, url: admin_newsletter_images_path(@newsletter) do |f| %>
          <%= f.file_field :image, required: true %>
          <p class="hcen"><%= f.submit 'hochladen' %></p>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
