<% title "Sitzplatzvorreservierungen bearbeiten" %>
<% include_js "ticketing/reservation_groups" %>
<% include_css "ticketing/reservation_groups" %>
<div class="hl">Sitzplatzvorreservierungen bearbeiten</div>
<%= content_tag :div, class: :reservation_groups, data: { seats: @seats, show_path: ticketing_reservation_group_path(''), update_path: ticketing_reservation_group_path(@group) } do %>
  <div class="groups">
    Vorreservierungen: <%= select_tag :group, options_from_collection_for_select(@groups, :id, :name, @group.id) %> <%= link_to "Gruppe löschen", ticketing_reservation_group_path(@group), method: :delete, data: { confirm: "Möchten Sie diese Gruppe und alle damit verbundenen Sitzplatzvorreservierungen löschen?" } %>
  </div>
  <div class="date">
    Veranstaltung: <%= select_tag :event, options_from_collection_for_select(@events, :id, :name, @event.id) %><br>
    <%= render "application/ticketing/date_select", dates: @event.dates, preselected_date: @event.dates.first %>
  </div>
  <%= render "application/ticketing/seating", class: [:selector], event: @event %>
  <p class="hcen">
    <%= submit_tag "speichern", class: :save %>
  </p>
  <div class="create">
    <hr>
    <%= form_for Ticketing::ReservationGroup.new do |f| %>
      Neue Gruppe erstellen: <%= f.text_field :name, placeholder: "Name der Gruppe" %> <%= f.submit "erstellen" %>
    <% end %>
  </div>
<% end %>
