<%= render 'top' %>

<div class="section">
  <h2>Vorverkauf</h2>

  <div class="question">Wo erhalte ich Tickets?</div>
  <div class="answer">
    Tickets lassen sich bequem von zu Hause aus <b><%= link_to "online", new_ticketing_order_path(@event.slug) %></b> oder telefonisch unter <b>(02653) 28 27 09</b> bestellen.
  </div>

  <div class="question">Gibt es Platzreservierungen?</div>
  <div class="answer">Ja, jedes Ticket ist an einen Sitzplatz gebunden, den Sie bei Ihrer Online-Bestellung frei wählen können.</div>

  <div class="question">Sind die Sitzplätze barrierefrei erreichbar?</div>
  <div class="answer">Alle Plätze auf dem Parkett sind barrierefrei zu erreichen. Plätze für Rollstuhlfahrer lassen sich über unsere Hotline buchen: <b>(02653) 28 27 09</b>.</div>

  <div class="question">Welche Zahlungsarten stehen mir bei der Online-Bestellung zur Verfügung?</div>
  <div class="answer">
    Wir akzeptieren SEPA-Lastschrift und Zahlungen per Überweisung.
    <p>Bei Bestellungen, die weniger als drei Tage vor dem Konzert aufgegeben werden, bieten wir Ihnen statt Überweisung auch die Zahlung an der Abendkasse an. Ihre Tickets können hierbei über Ihren Namen oder Ihre Bestellnummer an der Abendkasse abgeholt und bar oder per EC-Karte bezahlt werden.</p>
  </div>

  <div class="question">Wie erhalte ich meine Tickets, die ich online bestellt habe?</div>
  <div class="answer">
    Sofern Sie Zahlung per Lastschrift gewählt haben, werden Ihnen Ihre Tickets umgehend nach Ihrer Bestellung per E-Mail zugesandt. Bei Vorkasse per Überweisung erhalten Sie Ihre Tickets nach Zahlungseingang.
    <p>Im Anhang der E-Mail finden Sie ein PDF-Dokument, das Ihre Tickets enthält. Dieses können Sie sich ausdrucken, um es am Abend des Konzerts bei der Einlasskontrolle vorzuzeigen.</p>
  </div>

  <div class="question">Kann ich meine Tickets auch auf einem Handy vorzeigen?</div>
  <div class="answer">
    Ja, das ist kein Problem. Zeigen Sie dazu einfach das PDF-Dokument auf Ihrem Handy-Display vor.
    <p>Falls Sie ein iPhone besitzen, haben Sie alternativ auch die Möglichkeit, Ihre Tickets in der vorinstallierten App „Wallet“ zu hinterlegen. Nutzen Sie dazu einfach den Button in der Bestätigungs-E-Mail oder scannen Sie den Barcode auf Ihrem Ticket. Unter Android ist dies mit der App „<%= link_to "Wallet Passes", "https://play.google.com/store/apps/details?id=io.walletpasses.android", target: "_blank" %>“ möglich.</p>
  </div>

  <div class="question">Lassen sich Tickets umbuchen oder stornieren?</div>
  <div class="answer">
    <p>Sitzplätze lassen sich jederzeit umbuchen.</p>
    <p>Stornierungen sind bis 24 Stunden vor Beginn der Veranstaltung möglich. Selbstverständlich erhalten Sie den vollen Betrag der stornierten Tickets zurück.</p>
    <p>In beiden Fällen kontaktieren Sie uns bitte telefonisch: <b>(02653) 28 27 09</b>. In Zukunft werden wir den Umbuchungsservice auch online anbieten.
  </div>
</div>

<div class="trenner"></div>

<div class="section">
  <h2>Anfahrt</h2>

  <%= render 'map' %>

  <div class="question">Wo finde ich die Sporthalle?</div>
  <div class="answer">
    Die Sporthalle in Kaisersesch ist über den Schwalbenweg zu erreichen. In dieser Straße befinden sich einige Parkmöglichkeiten.
  </div>
</div>

<div class="trenner"></div>

<div class="section">
  <h2>Veranstaltung</h2>

  <div class="question">Ich habe Tickets kurzfristig abzugeben. Kann ich diese an der Abendkasse zurückgeben?</div>
  <div class="answer">Ja, das ist möglich. Sofern wir einen neuen Besitzer für Ihre Tickets finden können, erhalten Sie den vollen Betrag zurück.</div>

  <div class="question">Kann ich an der Abendkasse mit EC- oder Kreditkarte bezahlen?</div>
  <div class="answer">
    Ja, das ist möglich, gerne auch bei kleinen Beträgen. Kontaktlose Zahlungen akzeptieren wir ebenfalls.
    <p>Bitte beachten Sie, dass die Snack- und Getränkestände hingegen nur Bargeld akzeptieren.</p>
  </div>

  <div class="question">Werden vor Ort Speisen und Getränke angeboten?</div>
  <div class="answer">Ja, an unseren Ständen bieten wir gepflegte Getränke und leckere Kleinigkeiten an.</div>

  <div class="question">Wird es eine Pause geben?</div>
  <div class="answer">Ja, sie wird circa eine halbe Stunde dauern. In dieser Zeit sind unsere Snack- und Getränkestände für Sie geöffnet.</div>

  <div class="question">Wie lange dauert das Konzert?</div>
  <div class="answer">Inklusive Pause beträgt die Spielzeit etwa zweieinhalb Stunden.</div>

  <div class="question">Darf ich während des Konzerts fotografieren oder filmen?</div>
  <div class="answer">Sofern Ihre Aufnahmen für rein private Zwecke bestimmt sind, ist dies kein Problem.</div>

  <div class="question">Gibt es ein Rauchverbot?</div>
  <div class="answer">Rauchen innerhalb der Sporthalle können wir Ihnen auf Grund von Brandschutzbestimmungen nicht gestatten.</div>
</div>

<%= render 'questions' %>
