<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="keywords" content="Theater, Freilichtbühne, Verein, Kaisersesch" />
  <title><% if content_for?(:title) %><%= yield(:title) %> – <% end %>Freilichtbühne am schiefen Turm e. V.</title>
  <link rel="icon" href="<%= asset_path('favicon.svg') %>" type="image/svg+xml" />
  <link rel="icon" href="<%= asset_path('favicon.png') %>" type="image/png" />
  <link rel="mask-icon" href="<%= asset_path('favicon_mask.svg') %>" color="black" />

  <%= csrf_meta_tag %>

  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_packs_with_chunks_tag "application" %>
  <%= stylesheet_packs_with_chunks_tag "application", media: "all" %>

  <%= yield(:head) %>
</head>
<body>
  <div id="wrapper">
    <div id="sky"></div>
    <div id="left">
      <a href="/" id="logo">Freilichtbühne am schiefen Turm</a>
      <div id="navi">
        <ul>
          <li><%= link_to "Home", root_path %></li>
          <li class="spacer"></li>
          <li><%= link_to "Termine", dates_path %></li>
          <li class="spacer"></li>
          <li><%= link_to "Informationen", info_path %></li>
          <li class="spacer"></li>
          <li><%= link_to "Theater", theater_path %></li>
          <li class="spacer"></li>
          <li><%= link_to "Fotogalerie", galleries_path %></li>
          <li class="spacer"></li>
          <li><%= link_to "Kontakt", contact_messages_path %></li>
        </ul>
      </div>
    </div>
    <div id="right">
      <div id="content">
        <div class="top">
          <% unless @no_member_controls %>
            <div class="user-info">
              <% if user_signed_in? %>
                <div class="name">
                  <%= current_user.retail? ? current_user.store.name : current_user.name.full %>
                </div>
                <%= link_to "Logout", logout_path, class: :logout %>
              <% else %>
                <%= link_to "Login", login_path, class: :login %>
              <% end %>
            </div>
          <% end %>
        </div>
        <div class="content">
          <% if !@no_member_controls %>
            <% if current_user&.member? %>
              <%= render "members_navi", title: "Mitgliederbereich", namespace: :members, actions:
                [:root, %i(member edit)]
              %>
              <% if current_user.admin? %>
                <%= render "members_navi", title: "Vorstandsbereich", namespace: :admin, actions:
                  [:documents, :members_members, :newsletters]
                %>
                <%= render "members_navi", title: "Vorverkauf", namespace: :ticketing, actions:
                  [:orders, :payments, :statistics, :coupons, :seatings]
                %>
              <% end %>
            <% end %>
          <% end %>
          <% if current_user&.retail? %>
            <%= render "members_navi", title: "Vorverkaufsstelle", namespace: :ticketing, css_class: :ticketing_retail, actions:
              [:orders, :statistics]
            %>
          <% end %>
          <% flash.each do |type, msg| %>
            <div class="messages <%= type %>">
              <div class="icon"></div>
                <ul>
                <li><%= msg %></li>
              </ul>
            </div>
          <% end %>
          <%= yield %>
        </div>
        <div class="bottom">
          <ul>
            <li><%= link_to 'Impressum', impressum_path %></li>
            <% unless Settings.hide_it_recht_content %>
              <li><%= link_to 'AGB', agb_path %></li>
              <li><%= link_to 'Widerrufsbelehrung', widerruf_path %></li>
            <% end %>
            <li><%= link_to 'Datenschutzerklärung', privacy_path %></li>
            <li><%= link_to 'Mitgliedsantrag', '/uploads/Mitgliedsantrag.pdf' %></li>
            <li><%= link_to 'Satzung', satzung_path %></li>
            <li><%= link_to 'Pressematerial', press_material_path %></li>
          </ul>
          &copy; 2009–<%= Time.now.year %> Freilichtbühne am schiefen Turm e. V.
        </div>
      </div>
    </div>
  </div>
  <%= yield(:footer) %>
  <% if Rails.env.production? %>
    <% as_site = 6 %>
    <% base_url = "https://analytics.a0s.de/" %>
    <script>var as_site = <%= as_site %>;</script>
    <%= javascript_include_tag base_url + "stats.js" %>
    <noscript><%= image_tag base_url + "stats" + as_site.to_s + ".png", alt: "" %></noscript>
  <% end %>
</body>
</html>
