<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Freilichtbühne am schiefen Turm e. V.</title>
  <style type="text/css">
    body {
      background: white;
      font-family: sans-serif;
      font-size: 13px;
      color: black;
    }
    a {
      text-decoration: none;
      color: #0064ec;
    }
    table {
      margin: 20px auto;
      border-collapse: collapse;
    }
    table td {
      border: 0 solid;
      border-color: #e5e5e5;
      border-bottom-width: 1px;
      padding: 3px 10px;
    }
    table tr.top td {
      font-weight: bold;
      border-bottom-width: 2px;
    }
    #ticketsTable {
      width: 100%;
    }
    #ticketsTable .total td {
      border-top-width: 2px;
      border-bottom: 0;
      padding: 5px 10px;
      font-weight: bold;
    }
    #ticketsTable .amount {
      text-align: right;
    }
    .hl {
      text-align: center;
      margin: 10px;
      font-weight: bold;
    }
    .header {
      text-align: center;
    }
    .signature {
      font-weight: bold;
    }
    .content, .signature, .footer, .imprint {
      margin-top: 20px;
      padding-top: 5px;
    }
    .imprint {
      color: gray;
      border-top: 1px solid gray;
    }
    .imprint, .imprint h2 {
      font-size: 12px;
    }
    .imprint h2 {
      font-weight: bold;
    }
    .hcen {
      text-align: center;
    }
    .buttons {
      padding: 30px;
    }
    .buttons a {
      padding: 15px 25px;
      font-size: 14px;
      font-weight: bold;
      background: #0064ec;
      color: white;
    }
    .coupon-code {
      font-family: monospace;
      font-weight: bold;
    }
  </style>
</head>
<body>
  <div class="header">
    <%= attached_image_tag('logo.png', height: 114) %>
  </div>
  <p class="address">
    <%= yield :address %>
  </p>
  <div class="content">
    <%= yield %>
  </div>
  <% if @skip_ending.blank? %>
    <p class="signature">
      <%= render 'layouts/mailer_ending' unless @skip_ending %>
    </p>
  <% end %>
  <% if content_for? :footer %>
    <p class="footer">
      <%= yield :footer %>
    </div>
  <% end %>
  <div class="imprint">
    <%= render 'application/imprint' %>

    <p>
      <%= link_to 'Impressum', impressum_url %> –
      <%= link_to 'Datenschutzerklärung', privacy_url %>
    </p>
  </div>
</body>
</html>
